workflows/04cS5mR7v0ii2Psh.json
{"createdAt":"2025-07-14T02:08:25.393Z","updatedAt":"2025-07-14T04:09:50.876Z","id":"04cS5mR7v0ii2Psh","name":"My workflow 6","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"cb464c0c-9a80-41a1-bcd7-58b0d135caf1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-960,-80]},{"parameters":{"assignments":{"assignments":[{"id":"user","name":"username","value":"tropicans","type":"string"},{"id":"token","name":"token","value":"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","type":"string"},{"id":"repo","name":"repo","value":"n8n.git","type":"string"},{"id":"email","name":"email","value":"tropicans@gmail.com","type":"string"}]},"options":{}},"id":"c68b439d-4e85-4e25-8d04-fb66748dfe79","name":"Set Values","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,-80]},{"parameters":{"command":"ls n8n.git/.git"},"id":"51d682ce-76a0-4041-9eab-c29d0d51587f","name":"Check for repo","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-520,-80],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.error }}","operator":{"type":"string","operation":"exists","singleValue":true},"rightValue":""}],"combinator":"and","options":{"caseSensitive":true,"typeValidation":"strict","version":2}},"options":{}},"id":"312d1675-44dd-4619-94cd-494f6093de4b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,-80]},{"parameters":{"command":"=#!/usr/bin/env bash\nset -e\n\nGITHUB_USER=\"{{ $json.username }}\"\nGITHUB_TOKEN=\"{{ $json.token }}\"\nREPO=\"{{ $json.repo }}\"\nEMAIL=\"{{ $json.email }}\"\n\nif [ ! -d \"./${REPO}/.git\" ]; then\n  git init \"${REPO}\"\n  git -C \"${REPO}\" config user.name \"$GITHUB_USER\"\n  git -C \"${REPO}\" config user.email \"$EMAIL\"\n  echo \"# n8n Backups\" > \"${REPO}/README.md\"\n  git -C \"${REPO}\" add README.md\n  git -C \"${REPO}\" commit -m \"Initial commit\"\n  git -C \"${REPO}\" branch -M main\n  git -C \"${REPO}\" remote add origin \"https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/${GITHUB_USER}/${REPO}\"\n  git -C \"${REPO}\" push -u origin main || true\nfi"},"id":"6e655581-1372-43c8-b43b-ab9f8572203c","name":"Create new repo","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-80,-160]},{"parameters":{"command":"npx n8n export:workflow --backup --output n8n.git/workflows/"},"id":"b700504b-652d-4c23-9acc-2e3b26a30752","name":"Export Workflow","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[140,-80]},{"parameters":{"command":"npx n8n export:credentials --backup --output n8n.git/credentials/"},"id":"82b6b4ff-36bd-4d95-bb57-a7cdaad98390","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[360,-80]},{"parameters":{"command":"=git -C n8n.git add ."},"id":"e8c51f0d-2779-4f07-bef8-4f5883d38a46","name":"git add","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[580,-80]},{"parameters":{"command":"=git -C n8n.git commit -m \"Auto backup ({{ new Date().toISOString() }})\""},"id":"3fc4e701-54c9-40c2-a241-2d2a4f16c0bf","name":"git commit","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[800,-80]},{"parameters":{"command":"=#!/bin/bash\n\nREPO=\"n8n-backup\"\nUSER=\"tropicans\"\nTOKEN=\"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\"\nREMOTE_URL=\"https://${USER}:${TOKEN}@github.com/${USER}/${REPO}.git\"\n\n# Add origin only if not configured\ngit -C $REPO remote get-url origin 2>/dev/null || \\\ngit -C $REPO remote add origin \"$REMOTE_URL\"\n\n# Push to GitHub and set upstream explicitly\ngit -C $REPO push --set-upstream origin main\n"},"id":"c1ef831c-d226-45bc-a2c9-bc4a13da5503","name":"git push","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1020,-80]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Values","type":"main","index":0}]]},"Set Values":{"main":[[{"node":"Check for repo","type":"main","index":0}]]},"Check for repo":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create new repo","type":"main","index":0}],[{"node":"Export Workflow","type":"main","index":0}]]},"Create new repo":{"main":[[{"node":"Export Workflow","type":"main","index":0}]]},"Export Workflow":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"git add","type":"main","index":0}]]},"git add":{"main":[[{"node":"git commit","type":"main","index":0}]]},"git commit":{"main":[[{"node":"git push","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a94ba382-d988-4dc0-8d11-764a3f438d7f","triggerCount":0,"tags":[]}