workflows/0C84eTD4VMBcGgZI.json
{"createdAt":"2025-06-05T05:38:12.212Z","updatedAt":"2025-07-02T06:20:20.188Z","id":"0C84eTD4VMBcGgZI","name":"BlastWA","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1QZZ2-qcnoYhfJ393tp41URVjm0JUVX25uU_Xu9oLySY","mode":"list","cachedResultName":"MOOCS Tahun 2025 (Eksternal)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QZZ2-qcnoYhfJ393tp41URVjm0JUVX25uU_Xu9oLySY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1647050796,"mode":"list","cachedResultName":"Form responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QZZ2-qcnoYhfJ393tp41URVjm0JUVX25uU_Xu9oLySY/edit#gid=1647050796"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"To Do"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[240,-445],"id":"8337921c-6a0c-4f60-8ed2-34fe6532eb37","name":"Google Sheets Baca","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QZZ2-qcnoYhfJ393tp41URVjm0JUVX25uU_Xu9oLySY","mode":"list","cachedResultName":"MOOCS Tahun 2025 (Eksternal)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QZZ2-qcnoYhfJ393tp41URVjm0JUVX25uU_Xu9oLySY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1647050796,"mode":"list","cachedResultName":"Form responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QZZ2-qcnoYhfJ393tp41URVjm0JUVX25uU_Xu9oLySY/edit#gid=1647050796"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Berhasil","No.":"={{ $('Edit Fields2').item.json[\"No.\"] }}","Last Update":"={{(() => {   const now = new Date($now);   return now.toLocaleString('id-ID', { timeZone: 'Asia/Jakarta' }); })()}}"},"matchingColumns":["No."],"schema":[{"id":"No.","displayName":"No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nama Lengkap (disertai gelar pendidikan jika ada)","displayName":"Nama Lengkap (disertai gelar pendidikan jika ada)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NIP (bagi ASN) atau Nomor Registrasi Pegawai (bagi Non ASN)","displayName":"NIP (bagi ASN) atau Nomor Registrasi Pegawai (bagi Non ASN)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Jabatan","displayName":"Jabatan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Unit Kerja","displayName":"Unit Kerja","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Satuan Organisasi","displayName":"Satuan Organisasi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Alamat Email (wajib menggunakan akun Gmail)","displayName":"Alamat Email (wajib menggunakan akun Gmail)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nomor Whatsapp Aktif","displayName":"Nomor Whatsapp Aktif","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nomor Whatsapp Aktif62","displayName":"Nomor Whatsapp Aktif62","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pesan","displayName":"pesan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Komitmen dan Persetujuan","displayName":"Komitmen dan Persetujuan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Update","displayName":"Last Update","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1780,-445],"id":"9f317f78-2944-4079-8e8e-f54181cbd7b2","name":"Google Sheets Update","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[20,-445],"id":"d049958f-cbe3-4a96-bb71-8dbc6a1336cc","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0420dda-b8c2-4631-b860-748793e3aa55","leftValue":"={{ $json.Status }}","rightValue":"To Do","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,-520],"id":"f7f0c493-c5bf-4a7b-847a-37f401812ec2","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[460,-445],"id":"62371ad6-9452-4248-baee-da2a01cbbd99","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[900,-520],"id":"4136600d-4806-431d-ae1a-daad9090e4ff","name":"Wait","webhookId":"e85e8c18-55c6-46e1-ac8a-e1237cca81e2"},{"parameters":{"assignments":{"assignments":[{"id":"4e335b81-98c0-4516-b0c4-17dbf241b871","name":"No.","value":"={{ $json[\"No.\"] }}","type":"number"},{"id":"512acc1a-b9b0-4506-8bca-7e6e81c25913","name":"Nama Lengkap (disertai gelar pendidikan jika ada)","value":"={{ $json[\"Nama Lengkap (disertai gelar pendidikan jika ada)\"] }}","type":"string"},{"id":"16d77ade-c654-4da1-a382-f6cf06b6dcac","name":"Nomor Whatsapp Aktif62","value":"={{ $json[\"Nomor Whatsapp Aktif62\"] }}","type":"number"},{"id":"6c997ab0-3ff1-4ddf-b427-6dbba6c4a15b","name":"pesan","value":"={{ $json.pesan }}","type":"string"},{"id":"3ff93d50-01ae-497d-96ea-eb8244006ad4","name":"Status","value":"={{ $json.Status }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-520],"id":"03b46413-e3e4-4ec7-a9eb-7e136fc172c4","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://api.fonnte.com/send","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"target","value":"={{ (() => {\n  const num = $json[\"Nomor Whatsapp Aktif62\"];\n  return num ? num.toString() : '';\n})() }}"},{"name":"message","value":"={{ $json.pesan }}"},{"name":"text","value":"=text"},{"name":"device","value":"=6285147292770"},{"name":"delay","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,-520],"id":"b55bae54-2026-4214-905a-bbb7c718465f","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"TtjEcr7tGLqC4ivO","name":"Fonnte HaloGaharu"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70a50ad7-4e8d-40e7-b3b8-a8fbefc31b94","leftValue":"={{ $json.process }}","rightValue":"pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1560,-520],"id":"a7b91fac-f7d3-43e8-9e76-5ac5b8b68fed","name":"If1"}],"connections":{"Google Sheets Baca":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets Update":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets Baca","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Google Sheets Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c284be8a-60eb-4a77-bd03-c9b55ef75b6a","triggerCount":1,"tags":[{"createdAt":"2025-07-02T03:05:48.288Z","updatedAt":"2025-07-02T03:05:48.288Z","id":"g68CGNOVFhN6AiuY","name":"WhatsApp"}]}