workflows/4ftTDef4lcOtCghy.json
{"createdAt":"2025-07-11T05:42:23.242Z","updatedAt":"2025-07-14T04:10:07.877Z","id":"4ftTDef4lcOtCghy","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-380,-60],"id":"9f9f29da-cefc-43e9-9274-2f1a6bea54a9","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.helius.xyz/v0/addresses/{{ $json.wallet }}/transactions?api-key=72461c8d-a5d9-4b6d-baad-a1b038fe173e","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-60],"id":"5531ca73-0a86-46b4-a3cb-652b43e81135","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"773e2d22-f172-4305-9234-21ef0d60b8ba","name":"wallet","value":"8En2YmJf8YBp2RSU7cZ9LoKzrNkLu3nnsQn5LVHZWXEf","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-60],"id":"bcbfc5e4-438c-41de-8ad3-2578d13cd0d4","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b21266d-0059-49be-aed9-daca25a32075","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,-60],"id":"9757d9d5-ccd2-4612-a0c1-68c543251126","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bc4f3c75-bd46-4495-a159-c2316648da74","triggerCount":0,"tags":[]}