workflows/4Y6f910CDgVqUOLX.json
{"createdAt":"2025-07-01T02:53:25.394Z","updatedAt":"2025-07-02T03:07:10.607Z","id":"4Y6f910CDgVqUOLX","name":"YTAnalyticsBYHashtags","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"hashtags","formFields":{"values":[{"fieldLabel":"hashtags","placeholder":"#hastags1, #hashtags2"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,-730],"id":"a4d16fe7-bee9-43ad-924c-0d963473bbe0","name":"On form submission","webhookId":"6d5b18ec-dfe9-482f-bb5c-88a8e1914b12"},{"parameters":{"assignments":{"assignments":[{"id":"2cf40527-30a7-4785-8a24-8f2fb9fb81fc","name":"hashtagArr","value":"={{$json.hashtags.split(',').map(h => h.trim().replace(/^#/, ''))}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-730],"id":"23a4903f-5ffb-4593-a113-9db946ad09a7","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,-630],"id":"ba7f4cfa-7103-44ca-aff5-244e011f0aec","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[660,-530],"id":"374bfe81-ebd4-4700-a44e-dc57b64a575d"},{"parameters":{"assignments":{"assignments":[{"id":"2c83da90-6e21-4bfc-8485-ac02195e021c","name":"parsedHashtagArr","value":"={{ typeof $json.hashtagArr === \"string\" ? JSON.parse($json.hashtagArr) : $json.hashtagArr }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-730],"id":"e293b940-e552-4200-acd1-6e6c421ade81","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"parsedHashtagArr","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[660,-730],"id":"1b834103-0169-47a3-9fa2-2c2fae8780fb","name":"Split Out"},{"parameters":{"jsCode":"const hashtag = items[0].json.hashtag || '';\nconst videos = items[0].json.items || [];\nconst channels = items[1] && items[1].json.items ? items[1].json.items : [];\n\nconst channelMap = {};\nchannels.forEach(c => {\n  channelMap[c.id] = {\n    channelTitle: c.snippet.title,\n    subscriberCount: parseInt(c.statistics.subscriberCount)\n  }\n});\n\nconst now = new Date();\nconst result = videos.map((v, idx) => {\n  const channelId = v.snippet.channelId;\n  const viewCount = parseInt(v.statistics.viewCount);\n  const likeCount = parseInt(v.statistics.likeCount || 0);\n  const commentCount = parseInt(v.statistics.commentCount || 0);\n  const title = v.snippet.title || '';\n  const desc = v.snippet.description || '';\n  const publishedAt = new Date(v.snippet.publishedAt);\n  const channel = channelMap[channelId] || {};\n  const subscriberCount = channel.subscriberCount || 1;\n  // Analisa\n  const daysAgo = Math.floor((now - publishedAt)/(1000*60*60*24));\n  const viralWords = /viral|trending|kisah nyata|2025/i.test(title + ' ' + desc);\n  const allCaps = title === title.toUpperCase() && title.length > 10;\n  const ratioViewSub = (viewCount/subscriberCount).toFixed(2);\n  const ratioLikeView = likeCount && viewCount ? (likeCount/viewCount).toFixed(2) : null;\n  const isNew = daysAgo < 7;\n  return {\n    No: idx + 1, // <---- INI nomor urut\n    hashtag,\n    title,\n    videoUrl: `https://youtube.com/watch?v=${v.id}`,\n    channelTitle: channel.channelTitle || '',\n    viewCount,\n    subscriberCount,\n    daysAgo,\n    isNew,\n    viralWords,\n    allCaps,\n    ratioViewSub,\n    ratioLikeView,\n    likeCount,\n    commentCount,\n    publishedAt: v.snippet.publishedAt\n  }\n}).filter(r => r.viewCount && r.subscriberCount);\n\nreturn result.map(r => ({json: r}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,-630],"id":"8d9981d8-cc13-4699-9d14-15ee698b05c1","name":"Code"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"maxResults","value":"10"},{"name":"q","value":"={{ $json.parsedHashtagArr }}"},{"name":"type","value":"video"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,-630],"id":"7fb558b9-e96b-4e28-8a88-c5acdc4c7fc4","name":"Cari Video YouTube Berdasarkan Hashtag","credentials":{"youTubeOAuth2Api":{"id":"SGrbwP3z3weKq6LO","name":"YouTube account"}}},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,statistics"},{"name":"id","value":"={{$json.items.map(item => item.id.videoId).join(',')}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,-730],"id":"6e66278d-fc7a-45c6-b0d7-fb39d47ca04a","name":"Ambil Statistik Video","credentials":{"youTubeOAuth2Api":{"id":"SGrbwP3z3weKq6LO","name":"YouTube account"}}},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,statistics"},{"name":"id","value":"={{$json.items.map(item => item.snippet.channelId).join(',')}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-530],"id":"f34fa782-193a-4332-90c2-17547af70545","name":"Ambil Statistik Channel","credentials":{"youTubeOAuth2Api":{"id":"SGrbwP3z3weKq6LO","name":"YouTube account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1980,-630],"id":"129d60c6-093c-48fb-a0a1-ea33bab58e1b","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"dc916313-0b60-4dc2-bd75-d9ea65d4f8eb","name":"hashtag","value":"={{ $json.parsedHashtagArr }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,-630],"id":"14d89fb0-a533-4198-bdaa-bc63afc63c87","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"e27fb1b3-ec3f-4842-a8b2-07574d92845c","name":"hashtag","value":"={{ $('Edit Fields2').item.json.parsedHashtagArr }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,-730],"id":"08e44488-d3df-49c0-9370-6dd97f2e2a9c","name":"Edit Fields3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1As4bE1rLoxxWfW-tQ7LkYrvSue9fx9bH-uYaA9d9W0U","mode":"list","cachedResultName":"analisisvideo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1As4bE1rLoxxWfW-tQ7LkYrvSue9fx9bH-uYaA9d9W0U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1As4bE1rLoxxWfW-tQ7LkYrvSue9fx9bH-uYaA9d9W0U/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"No":"={{ $json.No }}","hashtag":"={{ $json.hashtag }}"},"matchingColumns":[],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hashtag","displayName":"hashtag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoUrl","displayName":"videoUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"viewCount","displayName":"viewCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subscriberCount","displayName":"subscriberCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"daysAgo","displayName":"daysAgo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"isNew","displayName":"isNew","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"viralWords","displayName":"viralWords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"allCaps","displayName":"allCaps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ratioViewSub","displayName":"ratioViewSub","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ratioLikeView","displayName":"ratioLikeView","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"likeCount","displayName":"likeCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"commentCount","displayName":"commentCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2420,-730],"id":"8657d61d-2ce7-45c3-a22d-b1dd8e630932","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"workflowId":{"__rl":true,"value":"4UeNPDLPM0fQgPgj","mode":"list","cachedResultName":"YTAnalyticsBYHashtags1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2420,-530],"id":"7076227b-74a2-4105-aedc-43d0470b802c","name":"Execute Workflow"}],"connections":{"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0},{"node":"Execute Workflow","type":"main","index":0}]]},"Cari Video YouTube Berdasarkan Hashtag":{"main":[[{"node":"Ambil Statistik Video","type":"main","index":0},{"node":"Ambil Statistik Channel","type":"main","index":0}]]},"Ambil Statistik Video":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Ambil Statistik Channel":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Cari Video YouTube Berdasarkan Hashtag","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"hashtags":"#alurcerita, #alurfilm, #alurceritafilm, #misteri, #drama, #reviewfilm, #film2025, #alurkisahnyata","submittedAt":"2025-06-30T22:55:17.632-04:00","formMode":"test"}}]},"versionId":"7c7fe0b5-740a-40b9-9e02-4f9b0328ec06","triggerCount":0,"tags":[]}