workflows/7qnWREznedZAxjTC.json
{"createdAt":"2025-06-26T04:08:27.355Z","updatedAt":"2025-07-02T11:36:29.818Z","id":"7qnWREznedZAxjTC","name":"_PINTAR_10SectionsIdentifier","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-1400],"id":"e0e7a62f-98d5-4eef-9890-5ce9f564b63f","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"=Daftar judul lesson (Bahasa Indonesia) berikut:\n{{ $json.lessons }}\n\nTugas Anda:\n1. Identifikasi tema-tema utama dari daftar judul tersebut.\n2. Buat nama section yang jelas dan ringkas (dalam Bahasa Indonesia), misalnya “Dasar Kreativitas”, “Tingkat Inovasi”, “Manajemen Diri Kreatif”.\n3. Di bawah setiap nama section, tuliskan **judul-judul lesson persis seperti aslinya**, dipisah dengan koma.\n4. Hanya output teks plain seperti contoh berikut (tanpa penjelasan atau format lain):\n\nSection Nama A:\nJudul Asli 1, Judul Asli 2, Judul Asli 3\n\nSection Nama B:\nJudul Asli 4, Judul Asli 5\n\nSection Nama C:\nJudul Asli 6, Judul Asli 7, Judul Asli 8","options":{"systemMessage":"=You are an expert Instructional Designer and course architect.  \nYour task is to take a flat list of lesson titles (in Bahasa Indonesia) and organize them into logical course sections—**without** modifying any of the given titles.  \nRespond only in plain text, with each section header (in Bahasa Indonesia) followed by its lesson titles exactly as provided, separated by commas.  \nDo not output JSON, markdown fences, or any extra commentary—just the sections and their comma-separated lessons."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[880,-1275],"id":"331d1c55-cf92-476b-9b72-1dd2ca320602","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[860,-1040],"id":"df8be537-c357-4c91-bd7c-01a0db84fc55","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"JUjXarPUY9EoEB7c","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"aeb6718a-fe10-49fa-8e79-6b794eb2a576","name":"judul","value":"={{ $json.JudulAI }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,-1275],"id":"b9bb866f-fc97-40a2-a356-7f769e3232e4","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1476,-1400],"id":"9329e3bd-4423-44e4-bf1c-56b1ae94e975","name":"Merge1"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      No: 1,\n      ...items[0].json,\n      ...items[1].json\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-1400],"id":"fb117d07-d815-4d99-9b81-e80705a6bf7b","name":"Code3"},{"parameters":{"jsCode":"// Function node sebelum Chat\nreturn [{\n  json: {\n    lessons: items.map(item => item.json.judul.trim())\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-1275],"id":"10cba5f0-c691-46db-8bd9-24a0c03df850","name":"Code4"},{"parameters":{"jsCode":"// Function Item\nreturn {\n  json: {\n    sheetText: items[0].json.output.trim()\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,-1275],"id":"9e94c406-504b-41cb-b37a-2d440d30ab16","name":"Code5"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":1705003066,"mode":"list","cachedResultName":"Raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g/edit#gid=1705003066"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,-1275],"id":"fde4dcdb-e7ac-4cc3-bd76-942233bce1f2","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":908912674,"mode":"list","cachedResultName":"CourseData","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g/edit#gid=908912674"},"columns":{"mappingMode":"defineBelow","value":{"No":"={{ $json.No }}","Sections":"={{ $json.sheetText }}"},"matchingColumns":["No"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"judulcourse","displayName":"judulcourse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JP","displayName":"JP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CouseShortDesc","displayName":"CouseShortDesc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CourseDesc","displayName":"CourseDesc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Requirements","displayName":"Requirements","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outcomes","displayName":"Outcomes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MetaKeys","displayName":"MetaKeys","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MetaDesc","displayName":"MetaDesc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sections","displayName":"Sections","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KC","displayName":"KC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fileprepost","displayName":"fileprepost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1916,-1400],"id":"5639aa13-1275-4437-a056-ad1d6bc64113","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Code4","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Code4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"AI Agent":[{"json":{"output":"Memahami Konflik Kerja-Kehidupan:\nMenjelajahi Tantangan Menyeimbangkan Pekerjaan dan Kehidupan Pribadi di Masa Pandemi: Solusinya Disini!, Menyingkap Tiga Tipe Konflik Kerja-Hidup dan Strategi Mengatasi Ketidakseimbangan secara Efektif, Mengidentifikasi Tanda Bahaya Burnout: Tes Keseimbangan Kerja dan Kehidupan Pribadi, Membedah Kombinasi Faktor Pekerjaan, Kepribadian, dan Keluarga yang Memicu Konflik Work-Life\n\nMeningkatkan Fokus dan Produktivitas:\nMenyingkap Kunci Work-Life Integration: Fokus Sepenuhnya Meningkatkan Produktivitas Hingga 450 Juta Tahun Ini, Menyingkap Cara Menjadi Penuh Perhatian dan Fokus Sepenuhnya melalui Mindfulness, Mengungkap Teknik Fokus Pernapasan untuk Mengelola Pikiran yang Mengembara, Membedah 5 Strategi Mindfulness di Tempat Kerja untuk Meningkatkan Fokus dan Produktivitas, Membedah Strategi Prioritas Tugas: Urgensi dan Kepentingan sebagai Kunci Produktivitas\n"}}]},"versionId":"98654533-07dd-4cca-b73e-4c439e9f8509","triggerCount":0,"tags":[]}