workflows/_PINTAR_6JPCounter.json
{
  "createdAt": "2025-06-26T03:05:52.820Z",
  "updatedAt": "2025-07-02T03:06:55.926Z",
  "id": "DSg4LGR5M0mwnSy1",
  "name": "_PINTAR_6JPCounter",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "034d46d3-9ef3-4f49-aaca-dbecef961192",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua baris (setelah IF filter, semua pasti punya Durasi)\nconst rows = items.map(item => item.json);\n\n// Parse durasi ke detik, kumpulkan total\nlet totalLessonSec = 0;\nrows.forEach(r => {\n  // safe-split: r.Durasi ada format \"M:SS\" atau \"MM:SS\"\n  const [m, s] = r.Durasi.split(':').map(Number);\n  totalLessonSec += (m * 60 + s);\n});\n\nconst lessonCount = rows.length;\nconst kcSec      = lessonCount * 60;          // 1 menit per KC\nconst testSec    = 15 * 60 * 2;               // pre + post test\nconst totalSec   = totalLessonSec + kcSec + testSec;\nconst totalMin   = totalSec / 60;\nconst jpCount    = Math.ceil(totalMin / 45);  // 1 JP = 45 menit, ke atas\nconst hhmmss     = new Date(totalSec * 1000)\n                     .toISOString()\n                     .substr(11, 8);\n\n// Kembalikan satu item dengan semua metrik\nreturn [{\n  json: {\n    lessonCount,\n    totalLessonSec,\n    kcSec,\n    testSec,\n    totalSec,\n    totalTime: hhmmss,                           // \"HH:MM:SS\"\n    totalMinutes: Math.round(totalMin * 100)/100, // 2 desimal\n    jamPembelajaran: jpCount\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -85
      ],
      "id": "75d0bfca-bdb0-480a-8857-05b975332161",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        -160
      ],
      "id": "1fef8997-5234-40f4-8ab6-2a04c0d2fe15",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      No: 1,\n      ...items[0].json,\n      ...items[1].json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -160
      ],
      "id": "33ce224b-2681-4071-a5cd-104d45fefc01",
      "name": "Code2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.SheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -85
      ],
      "id": "b9bc9b38-c708-4d76-b0f9-69fe144b4e66",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 908912674,
          "mode": "list",
          "cachedResultName": "CourseData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g/edit#gid=908912674"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $json.No }}",
            "JP": "={{ $json.jamPembelajaran }}"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "judulcourse",
              "displayName": "judulcourse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "JP",
              "displayName": "JP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CouseShortDesc",
              "displayName": "CouseShortDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CourseDesc",
              "displayName": "CourseDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outcomes",
              "displayName": "Outcomes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MetaKeys",
              "displayName": "MetaKeys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MetaDesc",
              "displayName": "MetaDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sections",
              "displayName": "Sections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "KC",
              "displayName": "KC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fileprepost",
              "displayName": "fileprepost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1100,
        -160
      ],
      "id": "abc1ddb4-afae-477f-8641-95543928f88e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4b69719b-c244-4315-a0e5-be0a30d295b3",
  "triggerCount": 0,
  "tags": []
}