workflows/BabyPodcast.json
{
  "createdAt": "2025-06-02T07:42:51.575Z",
  "updatedAt": "2025-07-02T03:10:18.296Z",
  "id": "VCxlC74sDLp07Eiu",
  "name": "BabyPodcast",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Baby Podcast Generator",
        "formDescription": "Baby Podcast Generator\nDescribe the ethnicity, hairstyle, and topic of conversation for the Baby Podcast Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Baby Ethnicity",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Asian"
                  },
                  {
                    "option": "African American"
                  },
                  {
                    "option": "Hispanic"
                  },
                  {
                    "option": "Caucasian"
                  },
                  {
                    "option": "Middle Eastern"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Baby Hairstyle",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Baid"
                  },
                  {
                    "option": "Curly"
                  },
                  {
                    "option": "Straight"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Topic of Conversation",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "ac529f9f-f8f6-428a-9cf5-91039d3ae0ef",
      "name": "On form submission",
      "webhookId": "3f7b1afc-796e-410e-8b73-e310645b4037"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a high-resolution image of a very cute, chubby, {{ $json['Baby Hairstyle'] }} hair, {{ $json['Baby Ethnicity'] }} baby wearing large over-ear headphones and speaking into a professional podcast microphone. The baby has a focused yet adorable expression. The background should resemble a podcast studio setting with a dark, rich curtain and warm, soft lighting that highlights the baby’s chubby cheeks and innocent face.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "eeea7b80-483e-483f-b7f7-908bff4f47f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        140,
        180
      ],
      "id": "7208cd8e-0908-45c0-a727-453b0fe75727",
      "name": "Ollama Chat Model"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a6ff9882-e2b6-4f08-bf21-8e0da4990fcf",
  "triggerCount": 0,
  "tags": []
}