workflows/Bn3URuDl1e8eK4lJ.json
{"createdAt":"2025-06-02T07:40:23.944Z","updatedAt":"2025-07-02T03:06:39.858Z","id":"Bn3URuDl1e8eK4lJ","name":"_PINTAR_3addRingkasan","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,125],"id":"82cf9654-0651-4375-a1e3-6703213f9010","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=Buatkan ringkasan satu paragraf dalam bahasa Indonesia dari teks berikut:\n\n{{ $json.transcript }}","options":{"systemMessage":"Kamu adalah asisten AI yang ahli dalam meringkas materi video YouTube ke dalam bentuk ringkasan satu paragraf yang mudah dipahami, tetap menjaga konteks dan pesan utama. Gunakan bahasa Indonesia yang natural, tidak terlalu formal, dan hindari mengulang kata.\nselalu mulai dengan kata-kata\nVideo ini membahas"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[660,0],"id":"b5b0c5d5-0ea9-486e-80ba-512254192946","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[748,220],"id":"608d47a6-239a-4b21-8de8-3c590e40336d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpk4zLtRgRK5YOpA","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,125],"id":"c00f9255-ce2d-48c8-b43c-b3b328733ff4","name":"Loop Over Items"},{"parameters":{"jsCode":"// Ambil langsung isi field \"output\"\nconst raw = items[0].json.output || \"\";\n\n// Hilangkan leading/trailing whitespace dan newline\nconst clean = raw.trim();\n\n// Kembalikan sebagai field sheetText\nreturn [{\n  json: {\n    sheetText: clean\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1036,0],"id":"56e84506-c6dc-4242-8ca2-7faa8d62d729","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1476,125],"id":"16f08aea-ff0d-4702-ab33-de9ae7a24258","name":"Wait","webhookId":"467b32b0-7e75-49f9-9eac-c782d530fc87"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.SheetIDRaw }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,125],"id":"4421da2f-c55a-42bb-bcd0-7d5ac5bb2baa","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('When clicking ‘Test workflow’').item.json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('When clicking ‘Test workflow’').item.json.SheetIDRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"No":"={{ $('Get row(s) in sheet').item.json.No }}","JudulAI":"={{ $json.sheetText }}"},"matchingColumns":["No"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Judul Video","displayName":"Judul Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Durasi","displayName":"Durasi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alamat Embed","displayName":"Alamat Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ringkasan","displayName":"Ringkasan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JudulAI","displayName":"JudulAI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SheetIDRaw","displayName":"SheetIDRaw","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GoogleSheetFileID","displayName":"GoogleSheetFileID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SheetIDCourseData","displayName":"SheetIDCourseData","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1256,0],"id":"d60a5351-f8d6-4bf6-aa58-fd4654dafb8a","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f3be129e-0359-4b26-8eb1-48667c88e4eb","triggerCount":0,"tags":[]}