workflows/HvfBjKHmccGo02LQ.json
{"createdAt":"2025-06-02T07:44:09.447Z","updatedAt":"2025-07-02T03:10:09.374Z","id":"HvfBjKHmccGo02LQ","name":"SRT_to_Video","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2140,-80],"id":"3cb68428-135c-478f-a077-ba7ecfa6f016","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1erfFgaPYtgTkGITZC2gVWKGw8MFKqwp5VVQuz9ZcK-M","mode":"list","cachedResultName":"StickFigure","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1erfFgaPYtgTkGITZC2gVWKGw8MFKqwp5VVQuz9ZcK-M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":875333495,"mode":"list","cachedResultName":"Build Discipline: The One Thing You're Missing.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1erfFgaPYtgTkGITZC2gVWKGw8MFKqwp5VVQuz9ZcK-M/edit#gid=875333495"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1920,-80],"id":"61ae0031-17fe-4bc4-9195-095254bd116c","name":"Google Sheets"},{"parameters":{"assignments":{"assignments":[{"id":"8c2ed8a3-1f3d-4b8c-9aca-d134a0f0c4bd","name":"filename","value":"={{ $json.No }}","type":"string"},{"id":"08979729-f2b8-475c-9e62-d8464aded8c3","name":"audiopath","value":"=/data/shared/content/defaultFolder/audio/{{$json[\"No\"]}}.mp3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1700,-80],"id":"44451d66-cdf8-461f-8401-901c8c36b110","name":"Edit Fields"},{"parameters":{"command":"=ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 \"{{$json[\"audiopath\"]}}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1260,-80],"id":"b91770d4-f32b-484e-91f2-3e067c3e03e2","name":"Execute Command"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const segment = $('Edit Fields').item.json.filename;\nconst text = $('Google Sheets').item.json['Script Segment'];\nconst rawDuration = $json.stdout;\nconst duration = parseFloat(rawDuration);\nconst startSec = 0;\nconst endSec = duration;\n\nfunction toTime(sec) {\n  const ms = Math.floor((sec % 1) * 1000);\n  const s = Math.floor(sec % 60);\n  const m = Math.floor((sec / 60) % 60);\n  return `00:${String(m).padStart(2, '0')}:${String(s).padStart(2, '0')},${String(ms).padStart(3, '0')}`;\n}\n\nconst srt = `${segment}\\n${toTime(startSec)} --> ${toTime(endSec)}\\n${text}`;\n\nreturn {\n  filename: `/data/shared/content/defaultFolder/subs/${segment}.srt`,\n  content: srt\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,-80],"id":"e595d391-2d21-46d5-9185-c2ab60828480","name":"Code"},{"parameters":{"operation":"toText","sourceProperty":"content","options":{"fileName":"={{$json[\"filename\"].split('/').pop()}}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-820,-80],"id":"e7f93dc3-da6f-4382-bf09-0ad85bfc19c3","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"=/data/shared/content/defaultFolder/subs/{{ $('Edit Fields').item.json.filename }}.srt","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-600,20],"id":"f888427b-10f3-4e31-9e80-76454fe2f2e2","name":"Read/Write Files from Disk"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1480,-80],"id":"944bfc6e-9df6-442b-bb00-09fe3cc4cd8e","name":"Loop Over Items"},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1040,-280],"id":"78784b7e-5e34-4232-b122-63c4b7427e5d","name":"Read/Write Files from Disk1"},{"parameters":{"assignments":{"assignments":[{"id":"c6b0f762-9b8a-450d-9e06-d57a7d90d0d3","name":"path","value":"={{ $json.fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1260,-280],"id":"4c06b103-1145-4c73-ba40-10d5e19f6079","name":"Edit Fields1"},{"parameters":{"jsCode":"const allSubs = items.map(item => {\n  const base64 = item.binary.data.data;\n  const buffer = Buffer.from(base64, 'base64');\n  return buffer.toString('utf-8');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    filename: 'full.srt',\n    content: allSubs\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,-280],"id":"bc87e4e0-01a9-45b3-9a26-667c736ea93d","name":"Code1"},{"parameters":{"operation":"toText","sourceProperty":"content","options":{"fileName":"full.srt"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-600,-280],"id":"ca5adbc4-58fd-4af0-8c69-ae32a9523776","name":"Convert to File1"},{"parameters":{"operation":"write","fileName":"/data/shared/content/defaultFolder/subs/full.srt","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-380,-280],"id":"b4ce0f7f-c9c8-4f5c-b956-75e9bc40d3df","name":"Read/Write Files from Disk2"},{"parameters":{"command":"=ffmpeg -i /data/shared/content/defaultFolder/output.mp4 -vf subtitles=/data/shared/content/defaultFolder/subs/full.srt -c:a copy /data/shared/content/defaultFolder/output_with_subs.mp4\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-160,-280],"id":"dd64759e-6157-479c-b4c3-97ceb88b3318","name":"Execute Command1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Execute Command","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c23f27c2-141b-4b72-8d0c-fa9e074e8941","triggerCount":0,"tags":[]}