workflows/imqQYaByVWRQfGTS.json
{"createdAt":"2025-06-02T07:43:15.666Z","updatedAt":"2025-07-31T08:57:23.533Z","id":"imqQYaByVWRQfGTS","name":"Gabungvideo","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1264,-496],"id":"6c50e3f4-5ba2-4bef-91c1-b291be7134ac","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-368,-352],"id":"70b30903-8771-49f0-bc33-4ad368fb9104","name":"Loop Over Items"},{"parameters":{"command":"=ffmpeg -y -loop 1 \\\n-i \"/data/shared/content/{{ $json.foldername }}/image/upscayl_png_ultramix-balanced-4x_1920px/{{ $json.filename }}.png\" \\\n-i \"/data/shared/content/{{ $json.foldername }}/audio/{{ $json.filename }}.wav\" \\\n-vf \"scale=1920:1080,fps=25\" -r 25 \\\n-c:v libx264 -tune stillimage -pix_fmt yuv420p \\\n-c:a aac -ar 44100 -ac 2 -b:a 192k \\\n-shortest \"/data/shared/content/{{ $json.foldername }}/parts/part{{ $json.filename }}.mp4\"\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-144,-352],"id":"e684639a-8941-41df-88fb-374f89d6067d","name":"Execute Command"},{"parameters":{"command":"=cd \"/data/shared/content/{{ $('Edit Fields1').item.json.foldername }}\"\n\nrm -f concat_list.txt\n\nNUM_PARTS=$(ls \"parts\"/part*.mp4 2>/dev/null | wc -l)\n\nfor i in $(seq 1 $NUM_PARTS); do\n  echo \"file 'parts/part$i.mp4'\" >> concat_list.txt\ndone\n\nffmpeg -f concat -safe 0 -i concat_list.txt -c copy output.mp4\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-144,-544],"id":"0999fa55-3adc-43f2-bacd-a07283cd8eb5","name":"Execute Command1"},{"parameters":{"command":"=mkdir -p \"/data/shared/content/{{ $json.foldername }}/parts\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-368,-544],"id":"142d0449-68f6-44ee-8efb-e38537842dab","name":"Execute Command2"},{"parameters":{"assignments":{"assignments":[{"id":"460bcfc9-6ead-4b52-875f-9bc2a145b31f","name":"foldername","value":"Ide 1","type":"string"},{"id":"5254ce1c-d012-4d79-b546-12cde55a22ca","name":"filename","value":"={{ $json.No }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-496],"id":"16adddeb-5f8f-4101-af74-457dec23de31","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"0793a3ef-0b4c-4eef-9c49-7f5fcfad56a9","name":"GoogleSheetID","value":"1dqpay2dt4VVp9F4Z4ILXJOpUO_PoAgh2Qnu_J2GHsxg","type":"string"},{"id":"d75a6fb3-adac-4044-aa86-952ef3d06d35","name":"SheetID","value":"332464570","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,-496],"id":"91ef1465-6644-4cbf-84c7-a4ffd9d7e1fb","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.GoogleSheetID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.SheetID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-816,-496],"id":"d9f4dce0-4e27-4687-8581-82539366e92c","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RDj6PeTIzkr5fatg","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Execute Command1","type":"main","index":0}],[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Command1":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Execute Command2","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6a33fc0-7208-4391-bba8-3a482e6b183a","triggerCount":0,"tags":[]}