workflows/imqQYaByVWRQfGTS.json
{"createdAt":"2025-06-02T07:43:15.666Z","updatedAt":"2025-07-02T03:07:32.254Z","id":"imqQYaByVWRQfGTS","name":"Gabungvideo","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1260,-490],"id":"6c50e3f4-5ba2-4bef-91c1-b291be7134ac","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-820,-340],"id":"70b30903-8771-49f0-bc33-4ad368fb9104","name":"Loop Over Items"},{"parameters":{"command":"=ffmpeg -y -loop 1 \\\n-i /data/shared/content/{{ $json.foldername }}/gambar/upscayl_png_upscayl-standard-4x_1920px/{{ $json.filename }}.png \\\n-i /data/shared/content/{{ $json.foldername }}/audio/{{ $json.filename }}.mp3 \\\n-vf \"scale=1920:1080,fps=25\" -r 25 \\\n-c:v libx264 -tune stillimage -pix_fmt yuv420p \\\n-c:a aac -ar 44100 -ac 2 -b:a 192k \\\n-shortest /data/shared/content/{{ $json.foldername }}/parts/part{{ $json.filename }}.mp4"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-600,-340],"id":"e684639a-8941-41df-88fb-374f89d6067d","name":"Execute Command"},{"parameters":{"command":"=cd /data/shared/content/{{ $('Edit Fields1').item.json.foldername }}\n\nrm -f concat_list.txt\n\n# Hitung jumlah file parts/part*.mp4\nNUM_PARTS=$(ls parts/part*.mp4 2>/dev/null | wc -l)\n\nfor i in $(seq 1 $NUM_PARTS); do\n  echo \"file 'parts/part$i.mp4'\" >> concat_list.txt\ndone\n\nffmpeg -f concat -safe 0 -i concat_list.txt -c copy output.mp4"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-600,-540],"id":"0999fa55-3adc-43f2-bacd-a07283cd8eb5","name":"Execute Command1"},{"parameters":{"command":"=mkdir -p /data/shared/content/{{ $json.foldername }}/parts"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-820,-540],"id":"142d0449-68f6-44ee-8efb-e38537842dab","name":"Execute Command2"},{"parameters":{"assignments":{"assignments":[{"id":"460bcfc9-6ead-4b52-875f-9bc2a145b31f","name":"foldername","value":"={{ (() => {\n  const judul = $json.Judul || \"untitled\";\n\n  return judul\n    .slice(0, 50)\n    .replace(/[<>:\"/\\\\|?*\\x00-\\x1F]/g, \"\")     // hapus karakter ilegal\n    .replace(/[^a-zA-Z0-9]+/g, \"_\")            // semua non-alfanumerik → 1 underscore\n    .replace(/^_+|_+$/g, \"\")                   // hapus underscore di awal/akhir\n    .trim();\n})() }}","type":"string"},{"id":"5254ce1c-d012-4d79-b546-12cde55a22ca","name":"filename","value":"={{ $json.No }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,-490],"id":"16adddeb-5f8f-4101-af74-457dec23de31","name":"Edit Fields1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Execute Command1","type":"main","index":0}],[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Command1":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Execute Command2","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"65ac2f93-a29c-426e-9731-40e3d745f8d0","triggerCount":0,"tags":[]}