workflows/JBdBAcnDE1ClVABD.json
{
  "createdAt": "2025-06-02T07:41:01.625Z",
  "updatedAt": "2025-07-02T11:38:05.241Z",
  "id": "JBdBAcnDE1ClVABD",
  "name": "_PINTAR_1from_playlist_to_google_sheet_AUTOMATION",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract Playlist ID from URL or plain input\nconst url = items[0].json.PlaylistURL;\nconst match = url.match(/[?&]list=([^&]+)/);\nconst playlistID = match ? match[1] : url;\nreturn [{ json: { playlistID } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        950
      ],
      "name": "Get Playlist ID",
      "id": "d7f0d14a-6d55-4e7b-9744-7872974fdba5"
    },
    {
      "parameters": {
        "command": "=/data/shared/Youtube-Playlist-Listing/venv/bin/python /data/shared/Youtube-Playlist-Listing/playlist.py {{$json.playlistID}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -440,
        950
      ],
      "name": "Run Playlist Script",
      "id": "09df928d-4c12-4722-aa63-0eeed36de104"
    },
    {
      "parameters": {
        "jsCode": "// Parse playlist stdout JSON line-by-line\nconst lines = $json.stdout.split(\"\\n\").filter(Boolean);\nreturn lines.map(line => {\n  const item = JSON.parse(line);\n  return {\n    json: {\n      No: item.No,\n      \"Judul Video\": item[\"Judul Video\"],\n      Durasi: item.Durasi,\n      \"Alamat Embed\": item[\"Alamat Embed\"]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        950
      ],
      "name": "Parse Playlist JSON",
      "id": "484a89af-a9f4-4f4b-983d-0d779463bced"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ (() => {\n  const now = new Date();\n  const wib = new Date(now.getTime() + 7 * 60 * 60 * 1000);\n  const tanggal = wib.toLocaleDateString('id-ID');\n  const jam = wib.toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit' });\n  return `Data Kursus PPKASN - ${tanggal} ${jam}`;\n})() }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Raw"
            },
            {
              "title": "CourseData"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -440,
        700
      ],
      "name": "Create Spreadsheet",
      "id": "2482d26f-3f18-4036-a0dd-687fbd316e12",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Metadata').item.json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Set Metadata').item.json.SheetIDRaw }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        650
      ],
      "name": "Append Playlist Items",
      "id": "9d736a54-3e40-4b20-9d4d-05ef415ad5e8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2469294-7e7d-4ec5-a50c-fd90588c46b9",
              "name": "SheetIDRaw",
              "value": "={{ $json.sheets[0].properties.sheetId }}",
              "type": "string"
            },
            {
              "id": "3aa84a81-a2be-4113-b649-b272f48953ed",
              "name": "GoogleSheetFileID",
              "value": "={{ $json.spreadsheetId }}",
              "type": "string"
            },
            {
              "id": "0a71e756-bf3b-40e8-8e11-d0612851787d",
              "name": "SheetIDCourseData",
              "value": "={{ $json.sheets[1].properties.sheetId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        700
      ],
      "id": "267e700e-b17b-4dd3-bb35-f347d2ad0808",
      "name": "Set Metadata"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  'No': 'No',\n  'Judul Video': 'Judul Video',\n  'Durasi': 'Durasi',\n  'Alamat Embed': 'Alamat Embed',\n  'videoId': 'videoId',\n  'Status':'Status',\n  'transcript':'transcript',\n  'Ringkasan': 'Ringkasan',\n  'JudulAI':'JudulAI'\n}}];"
      },
      "id": "96a755a5-2481-43ee-82f4-d72cd305e48a",
      "name": "Set Header",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        650
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        0,
        900
      ],
      "id": "589b5ec6-64b1-4e24-8f3c-d44dec94022c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "path": "f458933f-f756-4fd3-8bf9-6f75fa1bb1f1",
        "formTitle": "Playlist",
        "formDescription": "Yutub playlist to full course setup on PINTAR",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PlaylistURL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -880,
        800
      ],
      "name": "Form Trigger",
      "id": "c4f48441-4818-403c-bb53-6eb8742b8623",
      "webhookId": "f458933f-f756-4fd3-8bf9-6f75fa1bb1f1"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Metadata').item.json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Set Metadata').item.json.SheetIDRaw }}",
          "mode": "id"
        },
        "numberToDelete": 1000
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        650
      ],
      "id": "0600f00a-91a1-45de-976f-952b823ad685",
      "name": "Delete Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.SheetIDRaw }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "No": "={{ $json.No }}",
            "Judul Video": "={{ $json[\"Judul Video\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Judul Video",
              "displayName": "Judul Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alamat Embed",
              "displayName": "Alamat Embed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ringkasan",
              "displayName": "Ringkasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "JudulAI",
              "displayName": "JudulAI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SheetIDRaw",
              "displayName": "SheetIDRaw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GoogleSheetFileID",
              "displayName": "GoogleSheetFileID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SheetIDCourseData",
              "displayName": "SheetIDCourseData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        900
      ],
      "id": "113f566f-68ab-49f1-820d-bb83cfbe7ff6",
      "name": "Append Data Playlist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d317b06b-ff17-49bd-a353-e212927b5f83",
              "leftValue": "={{ $json.SheetIDRaw }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        900
      ],
      "id": "2841e810-93f6-4f51-9f6f-37d8a41e5707",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.SheetIDRaw }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        0
      ],
      "id": "deacbd88-dd80-42f9-b170-3badcdbbcddf",
      "name": "Delete Row Awal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vo0SmXIzsl9jHjB7",
          "mode": "list",
          "cachedResultName": "_PINTAR_2Audio To Script"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        200
      ],
      "id": "bd3725a3-6927-4bb2-b39e-55361972f5e6",
      "name": "Execute Workflow 2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Bn3URuDl1e8eK4lJ",
          "mode": "list",
          "cachedResultName": "_PINTAR_3addRingkasan"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        400
      ],
      "id": "25198ab9-1679-4279-a57a-e10e12dd8c34",
      "name": "Execute Workflow 3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pAeqd5YXCh7Vxl8p",
          "mode": "list",
          "cachedResultName": "_PINTAR_4SetJudulBaru"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        600
      ],
      "id": "64f68737-7b98-49ce-a660-fc421ed90001",
      "name": "Execute Workflow 4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h4vS5S6xUbIMLOR7",
          "mode": "list",
          "cachedResultName": "_PINTAR_5JudulCourse"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        800
      ],
      "id": "243b295c-ca64-45de-af8f-2740e1790ad3",
      "name": "Execute Workflow 5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DSg4LGR5M0mwnSy1",
          "mode": "list",
          "cachedResultName": "_PINTAR_6JPCounter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1000
      ],
      "id": "9d59392f-639b-45b5-945e-de7faab7c7cc",
      "name": "Execute Workflow  6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uLjAfcqrnhooJSCW",
          "mode": "list",
          "cachedResultName": "_PINTAR_7CourseInformation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1200
      ],
      "id": "a4d557a1-86f1-420f-845c-bc1b5c9311ce",
      "name": "Execute Workflow 7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nTQ23rXrx7pU1819",
          "mode": "list",
          "cachedResultName": "_PINTAR_8AddKC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1400
      ],
      "id": "a109f72c-4487-4462-ace4-c604deeb3490",
      "name": "Execute Workflow 8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lXWyR33mwaJCLiH8",
          "mode": "list",
          "cachedResultName": "_PINTAR_9pre/posttest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1600
      ],
      "id": "e5e3f603-371b-4e10-8841-7437b054b69d",
      "name": "Execute Workflow 9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7qnWREznedZAxjTC",
          "mode": "list",
          "cachedResultName": "_PINTAR_10SectionsIdentifier"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1800
      ],
      "id": "90d722b8-4db9-4a7b-aaa6-641fbacd95a7",
      "name": "Execute Workflow 10"
    }
  ],
  "connections": {
    "Get Playlist ID": {
      "main": [
        [
          {
            "node": "Run Playlist Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Playlist Script": {
      "main": [
        [
          {
            "node": "Parse Playlist JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Playlist JSON": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Spreadsheet": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "Set Header",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Header": {
      "main": [
        [
          {
            "node": "Append Playlist Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Playlist Items": {
      "main": [
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append Data Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Get Playlist ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Data Playlist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Row Awal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow  6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Append Data Playlist": [
      {
        "json": {
          "SheetIDRaw": "1378721267",
          "GoogleSheetFileID": "1x5IWUtolvCR_kWg2aCMpceVTUGmIbd3yvl3ZEFdSJV0",
          "SheetIDCourseData": "684415550"
        }
      },
      {
        "json": {
          "No": 1,
          "Judul Video": "1 Pengantar",
          "Durasi": "06:42",
          "Alamat Embed": "https://www.youtube.com/embed/BHzyAwca6ss"
        }
      },
      {
        "json": {
          "No": 2,
          "Judul Video": "2 Passion",
          "Durasi": "08:04",
          "Alamat Embed": "https://www.youtube.com/embed/U7gQXGtI9gg"
        }
      },
      {
        "json": {
          "No": 3,
          "Judul Video": "3 Passion Part 2",
          "Durasi": "04:20",
          "Alamat Embed": "https://www.youtube.com/embed/aNEAi8cBRww"
        }
      },
      {
        "json": {
          "No": 4,
          "Judul Video": "4 Entrepreneur Sosial",
          "Durasi": "06:59",
          "Alamat Embed": "https://www.youtube.com/embed/_mHs8wV9AHc"
        }
      },
      {
        "json": {
          "No": 5,
          "Judul Video": "5 Tantangan Sosial Enterprise",
          "Durasi": "03:24",
          "Alamat Embed": "https://www.youtube.com/embed/QsFHjMtos6U"
        }
      },
      {
        "json": {
          "No": 6,
          "Judul Video": "6 Hal Penting Menjadi Social Entrepreneur",
          "Durasi": "04:07",
          "Alamat Embed": "https://www.youtube.com/embed/S4wE_mbiPPE"
        }
      }
    ]
  },
  "versionId": "b26cf9ec-4846-450a-b085-4186970f2b42",
  "triggerCount": 0,
  "tags": []
}