workflows/KmviPqXiz7BcoyMc.json
{"createdAt":"2025-07-14T04:09:11.762Z","updatedAt":"2025-07-14T04:09:42.901Z","id":"KmviPqXiz7BcoyMc","name":"My workflow 7","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"93de78fa-d578-4155-8171-ab64be9e5c0e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,80]},{"parameters":{"assignments":{"assignments":[{"id":"user","name":"username","value":"tropicans","type":"string"},{"id":"token","name":"token","value":"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","type":"string"},{"id":"repo","name":"repo","value":"n8n.git","type":"string"},{"id":"email","name":"email","value":"tropicans@gmail.com","type":"string"}]},"options":{}},"id":"8f0420d1-44f2-42bd-bf8e-62e1da92b6a4","name":"Set Values","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,80]},{"parameters":{"command":"ls n8n.git/.git"},"id":"f8a80cfc-c8fc-43d0-a345-65b42695eb09","name":"Check for repo","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-440,80],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.error }}","operator":{"type":"string","operation":"exists","singleValue":true},"rightValue":""}],"combinator":"and","options":{"caseSensitive":true,"typeValidation":"strict","version":2}},"options":{}},"id":"25374841-251b-4145-9864-7ae43bec2d8a","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,80]},{"parameters":{"command":"=#!/usr/bin/env bash\nset -e\n\nGITHUB_USER=\"{{ $json.username }}\"\nGITHUB_TOKEN=\"{{ $json.token }}\"\nREPO=\"{{ $json.repo }}\"\nEMAIL=\"{{ $json.email }}\"\n\nif [ ! -d \"./${REPO}/.git\" ]; then\n  git init \"${REPO}\"\n  git -C \"${REPO}\" config user.name \"$GITHUB_USER\"\n  git -C \"${REPO}\" config user.email \"$EMAIL\"\n  echo \"# n8n Backups\" > \"${REPO}/README.md\"\n  git -C \"${REPO}\" add README.md\n  git -C \"${REPO}\" commit -m \"Initial commit\"\n  git -C \"${REPO}\" branch -M main\n  git -C \"${REPO}\" remote add origin \"https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/${GITHUB_USER}/${REPO}\"\n  git -C \"${REPO}\" push -u origin main || true\nfi"},"id":"3dbfe953-d07b-4c8c-ae29-341e573e88ee","name":"Create new repo","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[0,0]},{"parameters":{"command":"npx n8n export:workflow --backup --output n8n.git/workflows/"},"id":"9f1492c0-f6c3-47a5-879a-2e49519cc247","name":"Export Workflow","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[220,80]},{"parameters":{"command":"npx n8n export:credentials --backup --output n8n.git/credentials/"},"id":"61d7650c-de77-4ec8-b294-9d7053777a32","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[440,80]},{"parameters":{"command":"=git -C n8n.git add ."},"id":"0c43586f-da4b-4ee4-9d29-92d059fb5510","name":"git add","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[660,80]},{"parameters":{"command":"=git -C n8n.git commit -m \"Auto backup ({{ new Date().toISOString() }})\""},"id":"45beb560-c496-4cfd-88e5-accd7b7f5095","name":"git commit","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[880,80]},{"parameters":{"command":"=#!/bin/bash\n\nREPO=\"n8n-backup\"\nUSER=\"tropicans\"\nTOKEN=\"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\"\nREMOTE_URL=\"https://${USER}:${TOKEN}@github.com/${USER}/${REPO}.git\"\n\n# Add origin only if not configured\ngit -C $REPO remote get-url origin 2>/dev/null || \\\ngit -C $REPO remote add origin \"$REMOTE_URL\"\n\n# Push to GitHub and set upstream explicitly\ngit -C $REPO push --set-upstream origin main\n"},"id":"40ae8311-edc6-4d6b-877f-0d7c5ca89ef4","name":"git push","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1100,80]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Values","type":"main","index":0}]]},"Set Values":{"main":[[{"node":"Check for repo","type":"main","index":0}]]},"Check for repo":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create new repo","type":"main","index":0}],[{"node":"Export Workflow","type":"main","index":0}]]},"Create new repo":{"main":[[{"node":"Export Workflow","type":"main","index":0}]]},"Export Workflow":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"git add","type":"main","index":0}]]},"git add":{"main":[[{"node":"git commit","type":"main","index":0}]]},"git commit":{"main":[[{"node":"git push","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e7fa5e70-dcd2-4231-b33c-716ca0a24bc1","triggerCount":0,"tags":[]}