workflows/My workflow 4.json
{
  "createdAt": "2025-07-11T04:10:33.226Z",
  "updatedAt": "2025-07-11T05:37:44.060Z",
  "id": "LF0ujaiacAcscwGZ",
  "name": "My workflow 4",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        600,
        240
      ],
      "id": "a9818297-705f-4917-a0ab-5a03fb795354",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JUjXarPUY9EoEB7c",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "rag file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload File",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "c47fba85-f256-4948-a457-b211ff488d51",
      "name": "On form submission",
      "webhookId": "97fe8c41-e014-47e3-9614-c8087a2934c9"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "835cf21d-ad57-4945-a7d8-599812f4299c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = item.json.text || ''; // pastikan PDF parser mengembalikan konten sebagai `text`\n\n  // Pisahkan baris\n  const lines = text\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(Boolean);\n\n  // Deteksi metadata sederhana\n  const metadata = {};\n  lines.forEach(line => {\n    const match = line.match(/^(.+?):\\s*(.+)$/);\n    if (match) {\n      const key = match[1].trim();\n      let value = match[2].trim();\n\n      // Otomatisasi konversi\n      if (!isNaN(value) && value !== '') {\n        value = Number(value);\n      } else if (['yes', 'no', 'true', 'false'].includes(value.toLowerCase())) {\n        value = ['yes', 'true'].includes(value.toLowerCase());\n      } else if (value.includes(',')) {\n        value = value.split(',').map(x => x.trim());\n      }\n\n      metadata[key] = value;\n    }\n  });\n\n  return {\n    json: {\n      original: text,\n      content: text,\n      metadata\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "d5528ef1-2dba-4861-8b01-5283c7bb0b3a",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        880,
        0
      ],
      "id": "6566fde7-6322-44b2-92b0-89d9956b1173",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "IAQ4RZEhCgx1Ft1u",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "jina/jina-embeddings-v2-base-en:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        840,
        220
      ],
      "id": "3e9eaac1-d150-494d-b0ae-2f0ea6ace332",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "er9UBfBKoRVqOkGC",
          "name": "Ollama account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1160,
        200
      ],
      "id": "40911b83-8fbf-43da-bd8f-869790c57168",
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5683286f-12bf-44a5-9fa9-510a51f586ea",
  "triggerCount": 0,
  "tags": []
}