workflows/NSGUrEfmMHSPvLgJ.json
{
  "createdAt": "2025-06-02T07:43:37.670Z",
  "updatedAt": "2025-07-02T03:10:13.616Z",
  "id": "NSGUrEfmMHSPvLgJ",
  "name": "GetIdeaNewsData",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "07505333-3e7c-481d-8d36-cf8570124c59",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/news?apikey=pub_73fc321b22a7416e85d16775de0a961f&country=us&language=en&category=top",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "453100e6-f667-4303-b719-74d2daeb49fd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Pisahkan semua artikel menjadi item-item terpisah\nreturn items[0].json.results.map(article => {\n  return {\n    json: {\n      title: article.title,\n      description: article.description,\n      link: article.link\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "id": "0325da2d-0600-4b12-b09e-919d18514600",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this news headline, generate 5 viral YouTube Shorts video titles for a U.S. audience. Return only the numbered list with no extra content.\n\nHeadline: \"{{ $json.title }}\"\n",
        "options": {
          "systemMessage": "You are a professional YouTube Shorts strategist. Your job is to convert news headlines into viral YouTube Shorts video titles. For each input headline, return exactly 5 titles in plain English. Each title must be short, modern, emotionally engaging, and optimized for a U.S. audience. Use only this format: numbered list (1–5), no emojis, no markdown, no explanations. Just output the titles.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        860,
        0
      ],
      "id": "e532db4a-4293-4a84-8ce8-bb159452690c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "id": "6d0ce1c9-42d7-42f8-9aae-fc3f02aaf02f",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "8f0f636e-6a0f-42bb-95a9-f91fff4b71d6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dk_O-65HZUutIiNMntuoYPpr2tAHn-dLXjdSIs8vnow",
          "mode": "list",
          "cachedResultName": "TrendingNews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dk_O-65HZUutIiNMntuoYPpr2tAHn-dLXjdSIs8vnow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dk_O-65HZUutIiNMntuoYPpr2tAHn-dLXjdSIs8vnow/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $json.No }}",
            "Title": "={{ $json.Title }}",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1440,
        0
      ],
      "id": "3fccfa58-1cb4-4b7f-8e3f-b8f6ecd1f309",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "jsCode": "const lines = $json.output.split('\\n');\n\nreturn lines.map(line => {\n  const match = line.match(/^(\\d+)\\.\\s*(.+)$/); // ambil nomor dan judul\n  if (!match) return null;\n\n  const number = parseInt(match[1]);\n  const title = match[2];\n\n  return {\n    json: {\n      No: number,\n      Title: title\n    }\n  };\n}).filter(item => item !== null); // filter baris kosong jika ada\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        0
      ],
      "id": "2b056fa4-2956-42df-8352-2cb16748d504",
      "name": "Code1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2eb48739-e175-4959-a7e3-338d6adb492a",
  "triggerCount": 0,
  "tags": []
}