workflows/nTQ23rXrx7pU1819.json
{
  "createdAt": "2025-06-23T01:30:30.794Z",
  "updatedAt": "2025-07-02T03:06:52.283Z",
  "id": "nTQ23rXrx7pU1819",
  "name": "_PINTAR_8AddKC",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -30
      ],
      "id": "5f3cb72e-eb2f-45ef-b8a7-96dd9472a1fc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        120
      ],
      "id": "5c744d08-a0fc-4fc8-9b74-cd3ddf2a7f3e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input video: {{ $json.transcript }}\n\n1. Buat satu soal knowledge check dalam format AIKEN berdasarkan isi video.  \n2. Gunakan bahasa Indonesia formal.  \n3. Setelah ANSWER, jika ada typo, tampilkan Prediksi typo sesuai format; jika tidak, jangan tampilkan bagian typo sama sekali.",
        "options": {
          "systemMessage": "=Anda adalah AI Agent di n8n yang mengolah isi video untuk membuat satu soal knowledge check dalam format AIKEN.  \n- Terima teks video dari `{{ $json.transcript }}`.  \n- Analisis detailnya dan buat satu pertanyaan pilihan ganda yang merujuk ke informasi spesifik video.  \n- Tulis dalam bahasa Indonesia formal.  \n- Susun soal sebagai:  \n  Pertanyaan teks  \n  A. Opsi A  \n  B. Opsi B  \n  C. Opsi C  \n  D. Opsi D  \n  ANSWER: <huruf>  \n- Setelah baris ANSWER, **hanya** jika terdapat potensi kesalahan ketik, tampilkan bagian:  \n  Prediksi typo:  \n  - Typo: '<kata lama>' → '<kata baru>'  \n  Jika tidak ada typo sama sekali, **lewatkan** bagian Prediksi typo dan lanjutkan tidak menampilkan apa-apa lagi.  \n- Jangan sertakan heading, markdown, atau penjelasan tambahan."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        120
      ],
      "id": "b8815d64-32d6-45b2-b11e-bdf31fafffc2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('When clicking ‘Execute workflow’').item.json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1625559854,
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tRw2_Cz_mrr2uUPJ9y6ZEp59fEwp6WAVWRyM9q_g4Bk/edit#gid=1625559854"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get row(s) in sheet').item.json.No }}",
            "KC": "={{ $json.output }}",
            "Status": "KC Done"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Judul Video",
              "displayName": "Judul Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Alamat Embed",
              "displayName": "Alamat Embed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ringkasan",
              "displayName": "Ringkasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "JudulAI",
              "displayName": "JudulAI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SheetName",
              "displayName": "SheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GoogleSheetFileID",
              "displayName": "GoogleSheetFileID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "KC",
              "displayName": "KC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        505
      ],
      "id": "b5c4e257-4741-4793-bca1-a9d7c8904661",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b217302-66b2-4edc-b0e6-f10838a8999b",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "4aecd17b-410a-430f-8248-f6ee2217b4de",
              "name": "filename",
              "value": "={{\n  'soal_kc_'\n  + (() => {\n      // Waktu UTC sekarang dalam ms\n      const nowUtc = Date.now();\n      // Offset Jakarta: +7 jam = 7 * 3600 * 1000 ms\n      const jktMs  = nowUtc + 7 * 3600 * 1000;\n      const jktDate = new Date(jktMs);\n      // Format ISO tanpa milidetik, ganti \":\" & \".\" jadi \"_\"\n      return jktDate.toISOString().slice(0,19).replace(/[:.]/g, '_');\n    })()\n  + '.txt'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1036,
        120
      ],
      "id": "ec2e152c-4a3a-4fdb-aa30-bef74e1680ba",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/pintar/kc/{{ $('Edit Fields1').item.json.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1476,
        120
      ],
      "id": "cecced1d-1198-4e31-8418-89ab02483a5a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {
          "fileName": "={{ $json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1256,
        120
      ],
      "id": "7f7ea384-fbd7-4486-925e-d3d9eedae162",
      "name": "Convert to File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        738,
        -180
      ],
      "id": "bdc116df-681c-4987-81dc-45f7f54c4a1f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      No: 1,\n      ...items[0].json,\n      ...items[1].json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1036,
        -180
      ],
      "id": "e649b1d4-1373-4150-a699-f4c9eb8e8e6e",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1696,
        245
      ],
      "id": "96f23490-fe26-43b7-acba-438bbaf19767",
      "name": "Wait",
      "webhookId": "d63b423f-f9a4-469c-a22e-a01989d8f330"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        748,
        340
      ],
      "id": "007981dc-00bf-4467-af87-b81a429b44e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JUjXarPUY9EoEB7c",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.SheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        120
      ],
      "id": "27252506-09c4-4551-8f24-e9b892880c6a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 908912674,
          "mode": "list",
          "cachedResultName": "CourseData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g/edit#gid=908912674"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $json.No }}",
            "KC": "={{ $json.fileName }}"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "judulcourse",
              "displayName": "judulcourse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "JP",
              "displayName": "JP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CouseShortDesc",
              "displayName": "CouseShortDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CourseDesc",
              "displayName": "CourseDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outcomes",
              "displayName": "Outcomes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MetaKeys",
              "displayName": "MetaKeys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MetaDesc",
              "displayName": "MetaDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sections",
              "displayName": "Sections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KC",
              "displayName": "KC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fileprepost",
              "displayName": "fileprepost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1260,
        -180
      ],
      "id": "bc97a2d4-9f90-487d-9fa1-dd92a281b2ab",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b1ae5f4b-1180-4fce-91ec-4aa94597a51c",
  "triggerCount": 0,
  "tags": []
}