workflows/P18HKAA7KX831Iib.json
{"createdAt":"2025-06-30T08:15:59.141Z","updatedAt":"2025-07-11T06:34:56.956Z","id":"P18HKAA7KX831Iib","name":"memcoin","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://deep-index.moralis.io/api/v2.2/tokens/trending","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImE5MjBjYTQyLTg5MjAtNDc1Zi04MmEyLWJiNDdmZTUzYjYxYSIsIm9yZ0lkIjoiNDU2NDU5IiwidXNlcklkIjoiNDY5NjM1IiwidHlwZUlkIjoiOGZhNWVlYzktYjc2Mi00YjM1LTg4YTAtY2NiNzg3Yjk3Y2I5IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NTEyNzE0MzMsImV4cCI6NDkwNzAzMTQzM30.BJkyEY2Pzj06o5yuK-OpgDxPLHSQrL8FMwNoMq8eJpA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,380],"id":"270479c1-739e-4501-9ee0-fb8b00b9d765","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[680,380],"id":"00af1769-8112-4187-ae6f-8167b5abcb3f","name":"Loop Over Items"},{"parameters":{"url":"=https://solana-gateway.moralis.io/token/mainnet/holders/{{ $json.tokenAddress }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImE5MjBjYTQyLTg5MjAtNDc1Zi04MmEyLWJiNDdmZTUzYjYxYSIsIm9yZ0lkIjoiNDU2NDU5IiwidXNlcklkIjoiNDY5NjM1IiwidHlwZUlkIjoiOGZhNWVlYzktYjc2Mi00YjM1LTg4YTAtY2NiNzg3Yjk3Y2I5IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NTEyNzE0MzMsImV4cCI6NDkwNzAzMTQzM30.BJkyEY2Pzj06o5yuK-OpgDxPLHSQrL8FMwNoMq8eJpA"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,380],"id":"7425c133-c00e-4327-bb80-1760adff215b","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"d0ed1780-f16c-4b6d-87d5-6d6b473d6ff5","name":"tokenAddress","value":"={{ $('jika').item.json.tokenAddress }}","type":"string"},{"id":"f9880c44-34d8-4c7a-88c4-e622362772b6","name":"name","value":"={{ $('jika').item.json.name }}","type":"string"},{"id":"0ac2c3d9-f5ea-4d4a-9857-1a36c9c24801","name":"marketCap","value":"={{ $('jika').item.json.marketCap }}","type":"number"},{"id":"a755aeb9-6f2e-454f-843e-9c89e7df9642","name":"liquidityUsd","value":"={{ $('jika').item.json.liquidityUsd }}","type":"number"},{"id":"0191dca8-a7cc-4b67-a7bf-5a7247ec5496","name":"holders","value":"={{ $('jika').item.json.holders }}","type":"number"},{"id":"134c93a0-8649-42e5-9a45-cb5f2ec28ecd","name":"pricePercentChange['1h']","value":"={{ $('jika').item.json.pricePercentChange['1h'] }}","type":"number"},{"id":"5957871d-5597-458a-89ec-95968ed8bf94","name":"pricePercentChange['4h']","value":"={{ $('jika').item.json.pricePercentChange['4h'] }}","type":"number"},{"id":"5603b63d-2cd2-4f0c-b13a-1f8cbfa056eb","name":"pricePercentChange['12h']","value":"={{ $('jika').item.json.pricePercentChange['12h'] }}","type":"number"},{"id":"0fbaa6f3-378b-4a7d-924a-5d6ce468cae1","name":"pricePercentChange['24h']","value":"={{ $('jika').item.json.pricePercentChange['24h'] }}","type":"number"},{"id":"860d99c6-1ff3-4c8f-b08a-2dde041c4aea","name":"totalVolume['1h']","value":"={{ $('jika').item.json.totalVolume['1h'] }}","type":"number"},{"id":"b4ab23b7-dc9a-4439-a5ee-2f3fcb018354","name":"totalVolume['4h']","value":"={{ $('jika').item.json.totalVolume['4h'] }}","type":"number"},{"id":"deebb3eb-808d-4950-9ca6-b41474217e67","name":"totalVolume['12h']","value":"={{ $('jika').item.json.totalVolume['12h'] }}","type":"number"},{"id":"bdc354f2-c299-4acc-a274-61ad489bdb3f","name":"totalVolume['24h']","value":"={{ $('jika').item.json.totalVolume['24h'] }}","type":"number"},{"id":"f62a9b76-38a6-425d-8db2-5e6736899c41","name":"transactions['1h']","value":"={{ $('jika').item.json.transactions['1h'] }}","type":"number"},{"id":"fab639a1-2616-472e-93b1-c057edb73432","name":"transactions['4h']","value":"={{ $('jika').item.json.transactions['4h'] }}","type":"number"},{"id":"d742cb08-a46f-4aca-a762-1de5b2168885","name":"transactions['12h']","value":"={{ $('jika').item.json.transactions['12h'] }}","type":"number"},{"id":"ff678716-8d19-4406-a008-70ff39e05b3e","name":"transactions['24h']","value":"={{ $('jika').item.json.transactions['24h'] }}","type":"number"},{"id":"ba311edd-d452-4670-ad1f-0c117ff01de8","name":"buyTransactions['1h']","value":"={{ $('jika').item.json.buyTransactions['1h'] }}","type":"number"},{"id":"45128bb3-eab9-40b6-a407-aaa7e128a16b","name":"buyTransactions['4h']","value":"={{ $('jika').item.json.buyTransactions['4h'] }}","type":"number"},{"id":"b7b08f7a-b21d-4640-b4fc-61bcd70c4235","name":"buyTransactions['12h']","value":"={{ $('jika').item.json.buyTransactions['12h'] }}","type":"number"},{"id":"a16bb503-143e-47c0-b7e4-30d6916116b7","name":"buyTransactions['24h']","value":"={{ $('jika').item.json.buyTransactions['24h'] }}","type":"number"},{"id":"958f4416-f27e-4234-8e28-b15115a403db","name":"sellTransactions['1h']","value":"={{ $('jika').item.json.sellTransactions['1h'] }}","type":"number"},{"id":"343071ce-8dad-4dce-a136-85bbac33c996","name":"sellTransactions['4h']","value":"={{ $('jika').item.json.sellTransactions['4h'] }}","type":"number"},{"id":"a4e36357-965a-4d7f-821e-68839ea80d11","name":"sellTransactions['12h']","value":"={{ $('jika').item.json.sellTransactions['12h'] }}","type":"number"},{"id":"a72c4ba7-3e35-44c8-bbd1-a24c87a814f6","name":"sellTransactions['24h']","value":"={{ $('jika').item.json.sellTransactions['24h'] }}","type":"number"},{"id":"42710649-8dc8-4a35-ba7e-89c17f538529","name":"buyers['1h']","value":"={{ $('jika').item.json.buyers['1h'] }}","type":"number"},{"id":"b9c31017-35e8-4d8d-b922-e0bb4ab0770a","name":"buyers['4h']","value":"={{ $('jika').item.json.buyers['4h'] }}","type":"number"},{"id":"ba3a3668-e956-4f51-b1ca-817f0f3e9869","name":"buyers['12h']","value":"={{ $('jika').item.json.buyers['12h'] }}","type":"number"},{"id":"37860336-9c26-489e-8265-f0ed94360a82","name":"buyers['24h']","value":"={{ $('jika').item.json.buyers['24h'] }}","type":"number"},{"id":"282c1ef6-c6e7-4379-9776-10d6b781c694","name":"sellers['1h']","value":"={{ $('jika').item.json.sellers['1h'] }}","type":"number"},{"id":"0b8eeddd-0e05-4657-8645-086fd47c0b5d","name":"sellers['4h']","value":"={{ $('jika').item.json.sellers['4h'] }}","type":"number"},{"id":"ee73374b-0660-435f-80b0-6a31d7dcb2e7","name":"sellers['12h']","value":"={{ $('jika').item.json.sellers['12h'] }}","type":"number"},{"id":"94082316-2637-4cfa-b840-7cc9249a45ad","name":"sellers['24h']","value":"={{ $('jika').item.json.sellers['24h'] }}","type":"number"},{"id":"54f69d1d-d0c3-4a60-8a9a-00ad8e3bd1a9","name":"uniqueName","value":"={{ $('jika').item.json.uniqueName }}","type":"string"},{"id":"dde4f4cd-d5ab-4c20-aacd-ff3d8121b5fb","name":"symbol","value":"={{ $('jika').item.json.symbol }}","type":"string"},{"id":"bd3d548b-e12f-4ab6-b077-6f5f8acbbf52","name":"decimals","value":"={{ $('jika').item.json.decimals }}","type":"number"},{"id":"1c1153f7-c187-4e7e-be35-6918cf1f60b7","name":"usdPrice","value":"={{ $('jika').item.json.usdPrice }}","type":"number"},{"id":"3bd7dd60-0389-44b3-9ea4-114fa3e0818d","name":"createdAt","value":"={{ $('jika').item.json.createdAt }}","type":"number"},{"id":"ecc99bc1-6424-4392-beee-4374e5d2645d","name":"marketCap","value":"={{ $('jika').item.json.marketCap }}","type":"number"},{"id":"f246ff31-7ffa-42cf-9c62-49a518031baf","name":"liquidityUsd","value":"={{ $('jika').item.json.liquidityUsd }}","type":"number"},{"id":"2d3f54c9-7335-4bc2-bf90-3f154076eddf","name":"holders","value":"={{ $('jika').item.json.holders }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1198,380],"id":"c384f57c-ad4d-4f1b-bcd6-f47a6390b731","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[900,80],"id":"69f0f48f-293c-4885-b10b-32c2e12fd4f9","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=Here is the array of token data (all within $1M–$4M market caps).\n{{ JSON.stringify($json.data) }}\n\nEach object includes:\n\nholder data\nsymbol, name, tokenAddress\nmarket cap\nliquidityUsd\n\npricePercentChange for:\n\n1 h, 4 h, 12 h, 24 h\n\ntotalVolume for:\n\n1 h, 4 h, 12 h, 24 h\n\ntransactions:\n\nbuyTransactions\nsellTransactions\nbuyers\nsellers\n\ntotalHolders, holderDistribution:\n\n(whales, sharks, dolphins, …)\n\nholderSupply.top10.supplyPercent\n\nholderChange for:\n\n5 min, 1 h, 6 h, 24 h\n\n📢 WhatsApp-Ready Alert Format Example\nPlease review and output a Telegram-ready alert like this:\n\n🚀 Top 3 Solana Memecoin Picks:\nTodays Date\n\n1. **SYMBOL** – Reason citing price spike, volume surge, healthy holder spread.\nInclude contract address. Use proper line breaks and bolding.\n\n2. **SYMBOL** – Reason citing momentum and low whale concentration.\nInclude contract address. Use proper line breaks and bolding.\n\n3. **SYMBOL** – Reason citing strong buy/sell ratio and stable holder growth.\nInclude contract address. Use proper line breaks and bolding.\n\n","options":{"systemMessage":"=You are a Solana memecoin quant strategist.\nYou will be given an array of token data pre-filtered to market caps between $1M and $4M.\nEvaluate each token Daily only on:\n\nPrice momentum\n(1 h, 4 h, 12 h, 24 h % changes)\n\nVolume & transaction momentum\n(1 h vs. 4 h, totalVolume, trade counts, buy/sell ratios)\n\nHolder metrics\n(totalHolders, holderChange, holderDistribution by tier, top-10 supply %)\n\nRisk factors\n(high whale concentration, sudden drops in holders, low total holders)\n\nYour job is to choose the top 3 tokens to buy right now and format your answer as a WhatsApp message.\nUse a numbered list, include each symbol in bold, and give a one- or two-sentence rationale citing the key metrics.\nKeep it concise and clear.\n\nToday's date is {{ new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Jakarta\" }) }}\n\noutput is in Bahasa Indonesia, sertakan juga waktu sampai dengan detik.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1120,-20],"id":"11846bc7-5e15-4e6b-901a-167da67097c4","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1208,200],"id":"7dfe1f1d-3a1e-4510-8fdd-fc97d660609b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"JUjXarPUY9EoEB7c","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"method":"POST","url":"https://api.fonnte.com/send","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"target","value":"=628111268777"},{"name":"message","value":"={{ $json.output }}"},{"name":"text","value":"=text"},{"name":"device","value":"=6285147292770"},{"name":"delay","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1496,80],"id":"cf1136e4-7ad6-4ae8-918a-322eb413d6ff","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"TtjEcr7tGLqC4ivO","name":"Fonnte HaloGaharu"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[20,380],"id":"54b603ee-952c-447e-86e5-ffde173138d2","name":"Schedule Trigger"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1496,455],"id":"58480a79-e2fb-443e-b0d1-99bbcf763348","name":"Wait","webhookId":"1e260c6b-d0c1-491b-8b8c-b3ac10abad34"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3dc4e28e-cc39-471d-a47e-2d53b9f956d0","leftValue":"={{ $json.marketCap }}","rightValue":2000000,"operator":{"type":"number","operation":"lt"}},{"id":"22635eb6-5ed2-4288-975e-256ac91ac9c3","leftValue":"={{ $json.liquidityUsd }}","rightValue":40000,"operator":{"type":"number","operation":"gt"}},{"id":"ef7c0088-f7e4-4392-bc13-856635279a7b","leftValue":"={{ $json.marketCap }}","rightValue":100000,"operator":{"type":"number","operation":"gt"}},{"id":"3272e0ec-a15e-478e-85da-32a589f03452","leftValue":"={{ ($json.chainId) }}","rightValue":"solana","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"82992671-7274-4dd0-8a95-dc92f59bbd45","leftValue":"={{ $json.totalVolume['12h'] }}","rightValue":"={{ $json.marketCap }}","operator":{"type":"number","operation":"gt"}},{"id":"a726c002-91a8-436e-b93d-a730d8d289b3","leftValue":"={{$json[\"createdAt\"]}}","rightValue":"={{ Math.floor(Date.now()/1000) - (24*60*60) }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,380],"id":"ddbbbb07-7b1f-4ba6-a281-07aab60f631a","name":"jika"}],"connections":{"HTTP Request":{"main":[[{"node":"jika","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"jika":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11b59026-68bc-4985-a214-cac98a87e2a6","triggerCount":1,"tags":[]}