workflows/pAeqd5YXCh7Vxl8p.json
{"createdAt":"2025-06-02T07:41:30.310Z","updatedAt":"2025-07-02T03:06:45.097Z","id":"pAeqd5YXCh7Vxl8p","name":"_PINTAR_4SetJudulBaru","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,125],"id":"2c96c6ca-e19c-40ed-9f5e-3e44ca8978ab","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=Transkrip video:\n{{ $json.transcript }}\n\nBuat satu judul baru yang:\n1. Menggambarkan inti konten dari transkrip di atas.\n2. Menggunakan bahasa Indonesia formal dan engaging.\n3. Menggunakan variasi kata pengait (hindari “rahasia” kecuali benar-benar sangat pas).\n4. Hanya tulis judulnya—tanpa penjelasan, daftar, atau kata pengantar lain.","options":{"systemMessage":"=You are a professional YouTube copywriter specializing in educational and inspirational content. \nYour job is to craft a single, concise, engaging video title in formal Indonesian based **only** on the transcript provided. \nDo not reference or reuse the old title. \nUse a variety of action-oriented words and hooks (e.g., “mengungkap”, “membedah”, “menyingkap”, “menjelajahi”, etc.), and avoid overusing “rahasia.” \nDo not include emojis, clickbait phrasing, or any explanation—just the final title.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[660,0],"id":"344ba473-cdea-4063-9356-fae932d773f8","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"bcb56b08-4466-48b5-8148-39113d0d1568","name":"Judulbaru","value":"={{ $json.output.replace(/\\*/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1036,0],"id":"76eadbb4-b474-4f4a-95e4-83a4b9d137ad","name":"Set Judulbaru"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,385],"id":"f9d490d3-0c5d-4d26-bd66-401ee2e27051","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpk4zLtRgRK5YOpA","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,125],"id":"67201659-78bc-432e-bd07-d872d92dba0a","name":"Loop Over Items"},{"parameters":{"jsCode":"// Ambil langsung isi field \"Judulbaru\"\nconst raw = items[0].json.Judulbaru || \"\";\n\n// Hilangkan leading/trailing whitespace dan newline\nconst clean = raw.trim();\n\n// Kembalikan sebagai field sheetText\nreturn [{\n  json: {\n    sheetText: clean\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,0],"id":"87d0e9f2-26e8-4fe8-85fa-9c6b51883c7a","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1696,125],"id":"5aaa97bf-0594-47a0-b069-e5cc4c384cc1","name":"Wait","webhookId":"797644c1-c560-40b9-a5c2-4c988e144752"},{"parameters":{"model":"qwen/qwen3-14b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[748,220],"id":"808a075c-1546-4b99-b02e-2c90432c5d19","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"C0QLoy5gnSdSufC0","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.SheetIDRaw }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,125],"id":"38f488e1-b0b8-41c1-bec8-606647590b21","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('When clicking ‘Test workflow’').item.json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('When clicking ‘Test workflow’').item.json.SheetIDRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"No":"={{ $('Get row(s) in sheet').item.json.No }}","JudulAI":"={{ $json.sheetText }}"},"matchingColumns":["No"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Judul Video","displayName":"Judul Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Durasi","displayName":"Durasi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alamat Embed","displayName":"Alamat Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ringkasan","displayName":"Ringkasan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JudulAI","displayName":"JudulAI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SheetID","displayName":"SheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GoogleSheetFileID","displayName":"GoogleSheetFileID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1480,0],"id":"1e7b1db9-c925-43d6-a781-7e96cb3df6e7","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Set Judulbaru","type":"main","index":0}]]},"Set Judulbaru":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"71dbb8af-bb01-48aa-9ce3-7a960654a1e2","triggerCount":0,"tags":[]}