workflows/riTCo9KCzlirHxZL.json
{"createdAt":"2025-06-05T06:17:59.297Z","updatedAt":"2025-07-02T03:10:00.034Z","id":"riTCo9KCzlirHxZL","name":"YouTubeSEO","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"YouTube SEO","formDescription":"Produce YouTube SEO","formFields":{"values":[{"fieldLabel":"Judul Video"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-360,-200],"id":"660c1b71-2485-4208-95c1-2f91f87a7382","name":"On form submission","webhookId":"db842358-b7da-4eb4-878f-bb68549796f7"},{"parameters":{"fileSelector":"/data/shared/content/","options":{"fileName":"={{ $json[\"Judul Video\"] + \".mp4\" }}"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-360,60],"id":"9f14eb08-563d-470f-b953-6a4cddc04e91","name":"Read/Write Files from Disk","alwaysOutputData":true},{"parameters":{"command":"=python3 /data/shared/youtube-transcript-project/src/transcribe_whisper.py {{ $('On form submission').item.json['Judul Video'] }} --model small"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[80,60],"id":"8684fc6f-0976-4230-866d-45094a1b9ff3","name":"Execute Command"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"videoId\": \"{{ $('On form submission').item.json['Judul Video'].replace('.mp4', '') }}\",\n  \"hasBinaryData\": \"{{ $binary.data !== undefined }}\"\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,60],"id":"4d812c96-84b4-47de-a0c4-b9817a51fb83","name":"Edit Fields"},{"parameters":{"filePath":"={{ '/data/shared/content/' + $json[\"Judul Video\"]  }}"},"id":"a79f221c-b364-4e76-8709-60e683069fd6","name":"Read MP4 File","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-140,-200]},{"parameters":{"values":{"string":[{"name":"hasBinary","value":"={{ $binary.data !== undefined }}"},{"name":"filename","value":"={{ $json['Judul Video'] }}"}]},"options":{}},"id":"c8b6e792-ab92-4303-8388-c0e465886fc8","name":"Set Video ID","type":"n8n-nodes-base.set","typeVersion":2,"position":[80,-200]},{"parameters":{"command":"=python3 /data/shared/youtube-transcript-project/src/transcribe_whisper_local.py \"{{ $json['Judul Video'].replace('.mp4', '') }}\" --model small --local\n"},"id":"c2e92ee2-dfc6-42b8-b306-fec905fbd13c","name":"Execute Whisper Script","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[300,-200]}],"connections":{"On form submission":{"main":[[{"node":"Read MP4 File","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Read MP4 File":{"main":[[{"node":"Set Video ID","type":"main","index":0}]]},"Set Video ID":{"main":[[{"node":"Execute Whisper Script","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Judul Video":"james_bond_game_007_first_light__debut_trailer_and_release_info.mp4","submittedAt":"2025-06-05T02:51:09.917-04:00","formMode":"test"}}]},"versionId":"a7c43ad2-d4d1-4527-b604-9ec6bf47ee8b","triggerCount":0,"tags":[]}