workflows/rSv2h2aHuYiwgtom.json
{"createdAt":"2025-06-13T04:29:47.738Z","updatedAt":"2025-07-02T03:09:48.767Z","id":"rSv2h2aHuYiwgtom","name":"UpdateTotalRespondenEvaluasi","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-140,-290],"id":"98749c5d-a90e-4f29-8489-5100108a39fc","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1zoKuTpu6yPjmtiSLl4YpUO4X78BKrX2RRqc5m-M4jeY","mode":"list","cachedResultName":"ResponseEvaluasi (Responses)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zoKuTpu6yPjmtiSLl4YpUO4X78BKrX2RRqc5m-M4jeY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1958281515,"mode":"list","cachedResultName":"Form Responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zoKuTpu6yPjmtiSLl4YpUO4X78BKrX2RRqc5m-M4jeY/edit#gid=1958281515"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,-290],"id":"370556f5-fd99-4750-9ce0-ceaeb55c84e8","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,-290],"id":"4a7f33f7-7fd2-48d3-8093-4b5687be9673","name":"Loop Over Items"},{"parameters":{"url":"={{\n  'https://sheets.googleapis.com/v4/spreadsheets/' +\n  $json.formSheetId +\n  '/values/' +\n  encodeURIComponent(\"'Form Responses 1'!A:Z\")\n}}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-440],"id":"e6f6f1b7-d0bd-4368-81e6-a360baac2742","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const values = item.json.values || [];\n  \n  // Hitung jumlah responden (kurangi 1 karena baris pertama = header)\n  const jumlahResponden = values.length > 1 ? values.length - 1 : 0;\n\n  return {\n    json: {\n      jumlahResponden,\n      payload: {\n        values: [[jumlahResponden]] // Format yang diperlukan untuk update via Sheets API\n      },\n      targetSheetId: item.json.targetSheetId,\n      targetTab: item.json.targetTab,\n      targetCell: item.json.targetCell\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-440],"id":"1e8c05fe-0ab6-428d-96f0-d340d312ada8","name":"Hitung Respon dan Siapkan Payload"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const urlEvaluasi = item.json['URLEvaluasi'];\n  const urlSummary = item.json['Masukkan URL Google Sheet Rekap (Summary) '];\n  const targetCell = item.json['Cell mana di Summary yang ingin Anda update?  ']?.trim() || 'L12';\n\n  // Fungsi ekstrak Sheet ID dari URL\n  const extractSheetId = (url) => {\n    const match = url.match(/\\/d\\/([a-zA-Z0-9-_]+)/);\n    return match ? match[1] : null;\n  };\n\n  const formSheetId = extractSheetId(urlEvaluasi);\n  const targetSheetId = extractSheetId(urlSummary);\n\n  return {\n    json: {\n      formSheetId,\n      formTab: 'Form responses 1',          // default tab Google Form\n      formURL: urlEvaluasi,\n\n      targetSheetId,\n      targetTab: 'Data EvaPascaPelatihan',                 // default tab target\n      targetCell,\n      targetURL: urlSummary\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-290],"id":"0ee34837-9591-44cf-b40c-556b71cdc220","name":"Parse Google Form Input"},{"parameters":{"url":"={{\n  'https://sheets.googleapis.com/v4/spreadsheets/' +\n  $('Loop Over Items').item.json.targetSheetId +\n  '/values/' +\n  encodeURIComponent(\"'\" + $('Loop Over Items').item.json.targetTab + \"'!\" + $('Loop Over Items').item.json.targetCell)\n}}\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,-440],"id":"d1af2f66-bece-4c35-b822-667dc55ea2ec","name":"HTTP Request2","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"jsCode":"const jumlahBaru = $('Hitung Respon dan Siapkan Payload').item.json.jumlahResponden ?? 0;\nconst nilaiLama = $json.values?.[0]?.[0] ?? '0';\n\nreturn [{\n  json: {\n    jumlahBaru,\n    nilaiLama,\n    perluUpdate: jumlahBaru.toString() !== nilaiLama.toString()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,-440],"id":"628ebf4f-3675-4f3c-9200-84630cf44bc8","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7db9ef8a-d8fc-44e4-af20-b3c85f80c2eb","leftValue":"={{ $json.perluUpdate }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1620,-440],"id":"d21b95b8-4286-4414-ae71-b9608b833857","name":"If"},{"parameters":{"method":"PUT","url":"={{ \n  'https://sheets.googleapis.com/v4/spreadsheets/' +\n  $('Loop Over Items').item.json.targetSheetId +\n  '/values/' +\n  $('Code2').item.json.encodedRange +\n  '?valueInputOption=USER_ENTERED'\n}}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"values\": [[{{ $('If').item.json.jumlahBaru }}]]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,-440],"id":"9f45a261-cc4e-4da7-8b9c-f56ea430d606","name":"HTTP Request3","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"jsCode":"const tabName = \"Data EvaPascaPelatihan\";\nconst cell = \"L12\";\nconst fullRange = `'${tabName}'!${cell}`;\n\n// Manual encode untuk karakter khusus yang tidak diproses otomatis\nconst encodedRange = fullRange\n  .replace(/'/g, '%27')\n  .replace(/ /g, '%20')\n  .replace(/!/g, '%21');\n\nreturn [{\n  json: {\n    encodedRange\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,-440],"id":"108e0277-ac0f-4955-ad89-a0797f4a2067","name":"Code2"},{"parameters":{"method":"POST","url":"https://api.fonnte.com/send","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"target","value":"628129491072"},{"name":"message","value":"Cek Evaluasi PascaPKASN-2025! Ada updetan data baru"},{"name":"text","value":"text"},{"name":"device","value":"6285147292770"}]},"options":{}},"id":"fe5f7cc6-564a-4f12-8998-80f45b28dda6","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,-365],"credentials":{"httpHeaderAuth":{"id":"TtjEcr7tGLqC4ivO","name":"Fonnte HaloGaharu"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Parse Google Form Input","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Hitung Respon dan Siapkan Payload","type":"main","index":0}]]},"Hitung Respon dan Siapkan Payload":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Parse Google Form Input":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"HTTP Request3":[{"json":{"spreadsheetId":"1wFLYcVAPT-zmQHRHV4j2P2wkzIscLRyFtlHdKV4gDBk","updatedRange":"'Data EvaPascaPelatihan'!L12","updatedRows":1,"updatedColumns":1,"updatedCells":1}}]},"versionId":"79d39680-986e-45a3-a65d-d073d2104656","triggerCount":0,"tags":[]}