workflows/SA0qwLSEnyHRFTDG.json
{
  "active": false,
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-02T01:12:25.363Z",
  "id": "SA0qwLSEnyHRFTDG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BlastWAQRCode",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16O9kJDFpOPQFY3YLc164GZaTkYaNtH_npymnFk-aJzQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1322476521",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        160,
        75
      ],
      "id": "34fa4e6e-653c-4c27-8d91-9250ca2f170a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        600,
        75
      ],
      "id": "70212efe-f3be-4e0b-8dcd-950f70154def",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kudus.wablas.com/api/send-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json[\"Nomor WhatsApp\"] }}"
            },
            {
              "name": "image",
              "value": "=https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ $json['Nomor WhatsApp'] }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        0
      ],
      "id": "49bd936f-e363-4875-9a12-a307347cb8bc",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NHZe0Pm3a1PhDXFP",
          "name": "Wablas"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c5f8d15-39fc-4819-8400-bda5e67f0971",
              "name": "Nomor WhatsApp",
              "value": "={{ $json[\"Nomor WhatsApp\"].replace(/^0/, \"62\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        75
      ],
      "id": "62d28f02-f0d8-4973-93f9-258c259fd0b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16O9kJDFpOPQFY3YLc164GZaTkYaNtH_npymnFk-aJzQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1322476521",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nomor WhatsApp": "={{ $json.data.messages[0].phone.replace(/^62/, \"0\") }}",
            "Last Update": "={{(() => {   const now = new Date($now);   return now.toLocaleString('id-ID', { timeZone: 'Asia/Jakarta' }); })()}}",
            "Status": "Delivered"
          },
          "matchingColumns": [
            "Nomor WhatsApp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nomor WhatsApp",
              "displayName": "Nomor WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Update",
              "displayName": "Last Update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        0
      ],
      "id": "6b1bf9e8-f43c-4fb2-9e3e-8648c19153b2",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -60,
        75
      ],
      "id": "879ad574-3c34-4591-a372-b76ecca9d935",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1260,
        75
      ],
      "id": "60065977-9828-4c9f-a4e4-6390732edeb3",
      "name": "Wait",
      "webhookId": "d6bb0b9f-9165-4c23-9a11-6da590c97c2e"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-02T03:05:48.288Z",
      "updatedAt": "2025-07-02T03:05:48.288Z",
      "id": "g68CGNOVFhN6AiuY",
      "name": "WhatsApp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-02T04:09:19.948Z",
  "versionId": "7b34753a-cbe0-4ffb-8a45-ca4a53437b31"
}