workflows/stablediffusion model switching.json
{
  "createdAt": "2025-06-14T03:39:53.578Z",
  "updatedAt": "2025-07-02T03:08:15.764Z",
  "id": "UjoIma9v1wBOVhAY",
  "name": "stablediffusion model switching",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        -120
      ],
      "id": "27d9b983-6fc0-42f3-9c56-508515903765",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stable-diffusion:7860/sdapi/v1/txt2img",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"stick figure\",\n  \"negative_prompt\": \"blurry, low quality\",\n  \"steps\": 20,\n  \"cfg_scale\": 7,\n  \"sampler_index\": \"Euler\",\n  \"width\": 1280,\n  \"height\": 720\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        -260
      ],
      "id": "d0022de1-2039-41c6-b7ba-fb33a1e1cff7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4ea9731-328f-4fac-8877-f1c93b9587db",
              "name": "data",
              "value": "={{ $json.images[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -440
      ],
      "id": "eaeb2db9-5598-4cf1-8c56-2f644617ce3b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "binaryPropertyName": "binary",
        "options": {
          "fileName": "output.png",
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        460,
        -260
      ],
      "id": "0a805432-06bf-4e24-8f4f-905e1d256445",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/shared/output.png",
        "dataPropertyName": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        680,
        -260
      ],
      "id": "579577fa-8343-4e4d-99cf-7177ba164005",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stable-diffusion:7860/sdapi/v1/options",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sd_model_checkpoint\": \"dreamshaper_8.safetensors\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        0
      ],
      "id": "f6ac1b06-2328-4e50-8b8d-91481f792571",
      "name": "Set SD Checkpoint"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stable-diffusion:7860/sdapi/v1/reload-checkpoint",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "f892ba00-b666-4ba7-a2df-a369e06be8ba",
      "name": "Reload Checkpoint"
    },
    {
      "parameters": {
        "url": "http://stable-diffusion:7860/sdapi/v1/options",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "13b1d890-e87b-4004-af5a-11fbd546e6e5",
      "name": "Get Options untuk verifikasi"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stable-diffusion:7860/sdapi/v1/txt2img",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"simple sketch of a cat, sketch, monochrome, minimal line art\",\n  \"negative_prompt\": \"color, highres, photorealistic\",\n  \"sampler_index\": \"DPM++ SDE Karras\",\n  \"steps\": 30,\n  \"cfg_scale\": 8,\n  \"width\": 512,\n  \"height\": 512,\n  \"batch_size\": 1,\n  \"n_iter\": 1,\n  \"alwayson_scripts\": {\n    \"LoRA\": {\n      \"args\": [\n        {\n          \"enabled\": true,\n          \"model\": \"Linaqruf/sketch-style-xl-lora\",\n          \"weight\": 0.6\n        }\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        -440
      ],
      "id": "9f4c19eb-b01b-4fc3-b87d-25903f79294e",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SD Checkpoint": {
      "main": [
        [
          {
            "node": "Reload Checkpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Checkpoint": {
      "main": [
        [
          {
            "node": "Get Options untuk verifikasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "14cc762d-590c-4db9-a758-b796af3ca678",
  "triggerCount": 0,
  "tags": []
}