workflows/UhfNbbSPjxT8PjLz.json
{"createdAt":"2025-06-18T02:01:38.137Z","updatedAt":"2025-07-02T03:08:14.142Z","id":"UhfNbbSPjxT8PjLz","name":"flux[not done]","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,55],"id":"46651a7e-0a33-4d4d-8fd8-5e795e66d7ea","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,55],"id":"d02190e9-9d7c-46de-92fe-82b911172ea7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[880,55],"id":"4ec2c364-499c-44ec-a8d2-ad13a76e59ea"},{"parameters":{"method":"POST","url":"http://flux-runner:8000/generate","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model_id\": \"black-forest-labs/FLUX.1-schnell\",\n  \"revision\": \"dev-nf4\",\n  \"quantization\": \"nf4\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"num_inference_steps\": 2,\n  \"batch_size\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-20],"id":"9454b0d1-f6b4-4359-a31a-c6f0f2add834","name":"HTTP Request"},{"parameters":{"jsCode":"// Ambil langsung daftar prompt yang ingin kamu proses\nconst prompts = [\n  \"A serene mountain lake at sunrise\",\n  \"A futuristic cyberpunk city skyline at night\",\n  \"An astronaut riding a horse on Mars\",\n  \"A vintage steam locomotive passing through snowy mountains\",\n  \"A magical forest with glowing mushrooms\",\n  \"An anime-style portrait of a warrior princess\",\n  \"A minimalist line art of a dancing ballerina\",\n  \"A photorealistic tiger prowling in tall grass\",\n  \"A surreal desert landscape with floating rocks\",\n  \"An underwater scene of colorful coral reef\"\n];\n\n// Map setiap prompt menjadi satu item output\nreturn prompts.map(prompt => ({\n  json: {\n    prompt\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,55],"id":"771056ca-ed88-402a-8677-9e3e6d17855c","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"03b2f495-40b1-4326-bde1-9684cf0205bd","triggerCount":0,"tags":[]}