workflows/uLjAfcqrnhooJSCW.json
{
  "createdAt": "2025-06-26T03:31:23.006Z",
  "updatedAt": "2025-07-02T03:06:54.116Z",
  "id": "uLjAfcqrnhooJSCW",
  "name": "_PINTAR_7CourseInformation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -1400
      ],
      "id": "d2144aa8-bfab-4f74-93c0-e6823e50a982",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        840,
        -1115
      ],
      "id": "24612a26-f796-4d11-8de5-ee3e8ed74ac6",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      No: 1,\n      ...items[0].json,\n      ...items[1].json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -1115
      ],
      "id": "ca80c626-ab03-4af9-a51f-ac64113a6ea5",
      "name": "Code2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah transkrip lengkap materi kursus (variabel transcript: {{ $json.transcript }} dan judul course: {{ $json.judulcourse }}).\nAnalisis transkrip tersebut dan hasilkan output sesuai spesifikasi di atas, dalam bahasa Indonesia.",
        "options": {
          "systemMessage": "=Anda adalah asisten AI khusus untuk membuat metadata kursus berbasis analisis transkrip n8n AI Agent.  \nTugas Anda:  \n- Menganalisis variabel  `{{ $json.judulcourse }}` (judul Course) dan `{{ $json.transcript }}` (transkrip lengkap kursus) \n- Menghasilkan enam bagian output dalam **bahasa Indonesia**:  \n  1. **Course Description**  \n     - Informasi mengenai apa course ini  \n     - Ringkasan singkat (2–3 kalimat) menjelaskan apa dan mengapa materi ini penting  \n     - Manfaat & relevansi konkrit bagi peserta  \n     - Ruang lingkup & batasan topik  \n  2. **Course Short Description**  \n     - Deskripsi singkat (diambil dari Course Description)  \n  3. **Requirements**  \n     - Persyaratan untuk mengikuti course  \n  4. **Outcomes**  \n     - Setelah mengikuti course, peserta akan…  \n  5. **Meta Keyword**  \n     - Daftar kata kunci, setiap kata kunci dipisah dengan menekan Enter  \n  6. **Meta Description**  \n     - Ringkasan singkat SEO-friendly (1–2 kalimat)  \n     \nGunakan format output berikut (contoh struktur JSON untuk di-parsing oleh n8n AI Agent):  \n```json\n{\n  \"course_description\": \"…\",\n  \"course_short_description\": \"…\",\n  \"requirements\": [\n    \"…\",\n    \"…\"\n  ],\n  \"outcomes\": [\n    \"…\",\n    \"…\"\n  ],\n  \"meta_keywords\": [\n    \"keyword1\",\n    \"keyword2\",\n    \"keyword3\"\n  ],\n  \"meta_description\": \"…\"\n}\nJangan menambahkan bagian lain di luar format tersebut."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1280,
        -1115
      ],
      "id": "a6a11d36-bfa1-4326-89cd-90e4565c25c5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1368,
        -895
      ],
      "id": "d923e770-7911-4431-b448-70ba773a3928",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JUjXarPUY9EoEB7c",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aeb6718a-fe10-49fa-8e79-6b794eb2a576",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -1015
      ],
      "id": "cc4e91ed-2a6a-4ad3-84c2-1ed7145efb5a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// ambil semua transcript\nconst all = items.map(item => item.json.transcript).join('\\n\\n');\n// keluarkan sebagai satu item baru\nreturn [\n  {\n    json: {\n      transcript: all\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -1015
      ],
      "id": "3201a9bf-039a-4005-b33f-c7347dd98105",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const raw = item.json.output.replace(/```json\\s*|```/g, '');\n  return { json: JSON.parse(raw) };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1656,
        -1115
      ],
      "id": "389b2616-2774-4a91-8592-3aaba83cbedb",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1876,
        -1240
      ],
      "id": "84cca033-217b-449a-8929-b5cefcbca978",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      No: 1,\n      ...items[0].json,\n      ...items[1].json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -1240
      ],
      "id": "284a2a33-27ac-4105-ae12-10af59072b62",
      "name": "Code3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92a4dadb-7128-4314-8257-e8215d085951",
              "name": "No",
              "value": "={{ $json.No }}",
              "type": "number"
            },
            {
              "id": "ad5d6fc9-073d-4a92-ab7d-ae5aa55e3cff",
              "name": "SheetName",
              "value": "={{ $json.SheetName }}",
              "type": "string"
            },
            {
              "id": "e1b633f0-bf07-4029-ab55-ceb64d922f66",
              "name": "GoogleSheetFileID",
              "value": "={{ $json.GoogleSheetFileID }}",
              "type": "string"
            },
            {
              "id": "13b96196-8614-42e8-bc08-d3687525b24d",
              "name": "course_description",
              "value": "={{ $json.course_description }}",
              "type": "string"
            },
            {
              "id": "1b986f63-3f4c-4dc1-91cf-8765b9b2bf42",
              "name": "course_short_description",
              "value": "={{ $json.course_short_description }}",
              "type": "string"
            },
            {
              "id": "de7d0ca9-cb6c-4c64-8d1b-0219a1fc4cac",
              "name": "requirements",
              "value": "={{$json.requirements.join('; ')}}",
              "type": "string"
            },
            {
              "id": "55a2c4a3-d011-4ec1-82ea-e95186099b1e",
              "name": "outcomes",
              "value": "={{$json.outcomes.join('; ')}}",
              "type": "string"
            },
            {
              "id": "af6413e1-abd9-4853-97f5-cd0b74eafe24",
              "name": "meta_keywords",
              "value": "={{ $json.meta_keywords.join('; ')}}",
              "type": "string"
            },
            {
              "id": "57d0a0f1-95f7-45b1-be01-121ae60f9038",
              "name": "meta_description",
              "value": "={{ $json.meta_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -1240
      ],
      "id": "de5eba90-f1db-4d21-8f71-db7bb9973d6a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1705003066,
          "mode": "list",
          "cachedResultName": "Raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g/edit#gid=1705003066"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        620,
        -1215
      ],
      "id": "0cf9408f-78bd-4b1f-bd6c-0c3fc7343be5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.SheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        180,
        -1015
      ],
      "id": "68f5b90d-e71a-4b41-99f1-c9cfab5ecdd9",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GoogleSheetFileID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 908912674,
          "mode": "list",
          "cachedResultName": "CourseData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g/edit#gid=908912674"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $json.No }}",
            "CouseShortDesc": "={{ $json.course_short_description }}",
            "CourseDesc": "={{ $json.course_description }}",
            "Requirements": "={{ $json.requirements }}",
            "Outcomes": "={{ $json.outcomes }}",
            "MetaKeys": "={{ $json.meta_keywords }}",
            "MetaDesc": "={{ $json.meta_description }}"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "judulcourse",
              "displayName": "judulcourse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "JP",
              "displayName": "JP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CouseShortDesc",
              "displayName": "CouseShortDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CourseDesc",
              "displayName": "CourseDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outcomes",
              "displayName": "Outcomes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MetaKeys",
              "displayName": "MetaKeys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MetaDesc",
              "displayName": "MetaDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sections",
              "displayName": "Sections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "KC",
              "displayName": "KC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fileprepost",
              "displayName": "fileprepost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2560,
        -1240
      ],
      "id": "cf736a0f-2b07-458c-ac56-47da1f550618",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields1": [
      {
        "json": {
          "No": 1,
          "SheetName": "Raw",
          "GoogleSheetFileID": "1yYZdIIiujOBqwQJ5yh0AqywzT4WjLxJVFcjUdVzpU_g",
          "course_description": "Kursus ini membahas konflik antara pekerjaan dan kehidupan pribadi, yang sering menyebabkan ketidakseimbangan dan dampak negatif pada kesehatan mental, hubungan keluarga, dan produktivitas kerja.  Kita akan mengidentifikasi tiga jenis konflik utama: konflik berbasis waktu, konflik berbasis tegangan, dan konflik berbasis perilaku.  Peserta akan mempelajari penyebab, konsekuensi, dan strategi untuk mengatasi ketidakseimbangan ini, sehingga dapat meningkatkan kesejahteraan secara keseluruhan dan mencapai kehidupan yang lebih seimbang.",
          "course_short_description": "Pelajari cara mengatasi konflik antara pekerjaan dan kehidupan pribadi, identifikasi tiga jenis konflik utama, dan temukan strategi untuk mencapai keseimbangan yang lebih baik.",
          "requirements": "Tidak ada persyaratan khusus. Kursus ini dirancang untuk semua orang yang ingin meningkatkan keseimbangan hidup mereka.",
          "outcomes": "Memahami tiga jenis utama konflik antara pekerjaan dan kehidupan pribadi.; Mengenali dampak negatif dari ketidakseimbangan kerja-kehidupan.; Mengembangkan strategi untuk mengelola waktu dan mengatasi stres yang berkaitan dengan pekerjaan.; Meningkatkan kesejahteraan pribadi dan profesional.; Meningkatkan hubungan keluarga dan kehidupan pribadi.",
          "meta_keywords": "keseimbangan kerja kehidupan; konflik kerja kehidupan; stres kerja; kesehatan mental; produktivitas; manajemen waktu; work life balance; work life conflict; stress management; wellbeing",
          "meta_description": "Kursus ini membantu Anda mengidentifikasi dan mengatasi konflik antara pekerjaan dan kehidupan pribadi, mengurangi stres, dan meningkatkan keseimbangan hidup untuk mencapai kesejahteraan yang lebih baik."
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "```json\n{\n  \"course_description\": \"Kursus ini membahas konflik antara pekerjaan dan kehidupan pribadi, yang sering menyebabkan ketidakseimbangan dan dampak negatif pada kesehatan mental, hubungan keluarga, dan produktivitas kerja.  Kita akan mengidentifikasi tiga jenis konflik utama: konflik berbasis waktu, konflik berbasis tegangan, dan konflik berbasis perilaku.  Peserta akan mempelajari penyebab, konsekuensi, dan strategi untuk mengatasi ketidakseimbangan ini, sehingga dapat meningkatkan kesejahteraan secara keseluruhan dan mencapai kehidupan yang lebih seimbang.\",\n  \"course_short_description\": \"Pelajari cara mengatasi konflik antara pekerjaan dan kehidupan pribadi, identifikasi tiga jenis konflik utama, dan temukan strategi untuk mencapai keseimbangan yang lebih baik.\",\n  \"requirements\": [\n    \"Tidak ada persyaratan khusus. Kursus ini dirancang untuk semua orang yang ingin meningkatkan keseimbangan hidup mereka.\"\n  ],\n  \"outcomes\": [\n    \"Memahami tiga jenis utama konflik antara pekerjaan dan kehidupan pribadi.\",\n    \"Mengenali dampak negatif dari ketidakseimbangan kerja-kehidupan.\",\n    \"Mengembangkan strategi untuk mengelola waktu dan mengatasi stres yang berkaitan dengan pekerjaan.\",\n    \"Meningkatkan kesejahteraan pribadi dan profesional.\",\n    \"Meningkatkan hubungan keluarga dan kehidupan pribadi.\"\n  ],\n  \"meta_keywords\": [\n    \"keseimbangan kerja kehidupan\",\n    \"konflik kerja kehidupan\",\n    \"stres kerja\",\n    \"kesehatan mental\",\n    \"produktivitas\",\n    \"manajemen waktu\",\n    \"work life balance\",\n    \"work life conflict\",\n    \"stress management\",\n    \"wellbeing\"\n  ],\n  \"meta_description\": \"Kursus ini membantu Anda mengidentifikasi dan mengatasi konflik antara pekerjaan dan kehidupan pribadi, mengurangi stres, dan meningkatkan keseimbangan hidup untuk mencapai kesejahteraan yang lebih baik.\"\n}\n```\n"
        }
      }
    ]
  },
  "versionId": "47e13712-d20a-47b6-9c09-60ea44226830",
  "triggerCount": 0,
  "tags": []
}