workflows/vo0SmXIzsl9jHjB7.json
{"createdAt":"2025-06-02T12:59:34.666Z","updatedAt":"2025-07-02T03:06:46.826Z","id":"vo0SmXIzsl9jHjB7","name":"_PINTAR_2Audio To Script","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-635],"id":"2cc6ab1c-75a1-4c7a-9153-8804701feb47","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const embed = $json[\"Alamat Embed\"];             // e.g. \"https://www.youtube.com/embed/xZiushqZukk\"\nconst videoId = embed.split('/').pop();\nreturn [{\n  json: {\n    ...$json,\n    videoId,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-760],"id":"05805926-f9eb-47e4-a55a-26b6cef7569c","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[360,-635],"id":"e78b6dc5-baa6-4184-a6af-828cd35a46b1","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Berikut adalah hasil transkrip mentah dari Whisper:\n{{ $json.text }}\n\nTolong rapikan sesuai instruksi di atas dan kembalikan **hanya** teks yang sudah diperbaiki.\n","options":{"systemMessage":"Anda adalah asisten AI yang sangat terampil dalam merapikan dan memformat hasil transkripsi suara berbahasa Indonesia.  \nTugas Anda:  \n1. Hilangkan pengulangan kata atau frasa yang tidak perlu.  \n2. Perbaiki ejaan dan tata bahasa.  \n3. Tambahkan tanda baca yang tepat (titik, koma, kapitalisasi).  \n4. Bagi teks menjadi paragraf atau bullet point yang sesuai agar mudah dibaca.  \n5. **Hanya kembalikan teks yang sudah dirapikan**—tanpa metadata tambahan, wrapper JSON, atau opsi pilihan lainnya.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1020,-760],"id":"53cd4244-27d1-4ab2-b5bc-722107a39503","name":"AI Agent"},{"parameters":{"method":"POST","url":"http://peaceful_galileo:8000/transcribe","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_id\": \"{{$json[\"videoId\"]}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-760],"id":"73e427b3-f233-419e-9de4-4764414eda26","name":"HTTP Request"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1108,-540],"id":"ef666f3f-a82e-4dbd-926f-4ed84f70080d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zpk4zLtRgRK5YOpA","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Function Item\nreturn {\n  json: {\n    sheetText: items[0].json.output.trim()\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1396,-760],"id":"e2d024c4-4a94-4c6f-9f0c-236c2cf40763","name":"Code5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1836,-635],"id":"58e684f2-a64d-411e-913d-1fb59fd7fae7","name":"Wait","webhookId":"f85dac59-7a7c-4be1-810a-f84270b5afbe"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.SheetIDRaw }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[140,-635],"id":"89b47aa9-5927-49a2-8ac4-e74f2ebc01e8","name":"Read Data","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('When clicking ‘Execute workflow’').item.json.GoogleSheetFileID }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('When clicking ‘Execute workflow’').item.json.SheetIDRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"No":"={{ $('Read Data').item.json.No }}","transcript":"={{ $json.sheetText }}"},"matchingColumns":["No"],"schema":[{"id":"No","displayName":"No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Judul Video","displayName":"Judul Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Durasi","displayName":"Durasi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alamat Embed","displayName":"Alamat Embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ringkasan","displayName":"Ringkasan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JudulAI","displayName":"JudulAI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SheetID","displayName":"SheetID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GoogleSheetFileID","displayName":"GoogleSheetFileID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1616,-760],"id":"7058354b-99db-4170-b1ff-b6386918c9a4","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EvJFGzn1Pb9TRY0E","name":"Google Sheets account Tropicans"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read Data","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code5":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Read Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd8d5e82-c5ff-4639-b1d5-d500d2b578cc","triggerCount":0,"tags":[]}