workflows/xGeWqpHZJys7CzRD.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-23T08:49:58.708Z",
  "id": "xGeWqpHZJys7CzRD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "thumbnail",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -195
      ],
      "id": "1585d5c9-97c4-4f90-a9c7-77c25dd6237b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1d2Gmh2zMJDr7V-1msM_iJAcswNlglrJDxLiXJAW6tUY",
          "mode": "list",
          "cachedResultName": "AutoVideon8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d2Gmh2zMJDr7V-1msM_iJAcswNlglrJDxLiXJAW6tUY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1439856214,
          "mode": "list",
          "cachedResultName": "RAW",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d2Gmh2zMJDr7V-1msM_iJAcswNlglrJDxLiXJAW6tUY/edit#gid=1439856214"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Script Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -195
      ],
      "id": "63e9d602-9609-43c9-8328-2436524500e7",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35ef939a-ab63-4de0-877e-e05f47a3e0c0",
              "leftValue": "={{ $json.Script }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        -195
      ],
      "id": "fb4b7f10-d7ed-4e3e-b882-52a31d84eb0c",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an advanced image prompt generator for a YouTube channel focused on self-motivation for Gen Z.\n\nCreate a richly descriptive image prompt for the following narration segment, using the exact visual style and symbolism described below.\n\nNarration Segment:\n\"{{ $json.Script }}\"\n\n🎨 TTM Prompt Format:\nA stick figure [with short, tousled hair, dot eyes, and a gentle, friendly smile—posture, emotion, or action as described below; ensure posture and actions are always wholesome, safe, and fully clothed. The stick figure’s appearance (hair, eyes, face, smile) should be visually consistent in every scene, never exaggerated or cartoonish]. Set in [symbolic setting with layers and mood].\nStyle: doodle cartoon with textured brush outlines.\nShading & Gradients: soft shading and gentle gradients.\nLayers: foreground – [describe], midground – [describe], background – [describe].\nStick-figure posture: [emotionally expressive, but always appropriate and non-suggestive].\nFacial expression: [specific, non-provocative emotion—keep dot eyes and a gentle, relatable smile for consistency].\nAccessory: [metaphorical accessory related to motivation or struggle—avoid anything that could be interpreted as inappropriate].\nMotion cue: [if relevant, but always safe and non-violent].\nEnvironment: [emotional, motivational, or psychological setting].\nSymbolic object: [core metaphor].\nColor palette: [Gen Z aesthetic—muted neons, cozy pastels, or moody contrasts].\n\nCharacter Consistency Anchor:\nThe stick figure must always appear with: short, tousled black hair, dot eyes, a gentle friendly smile, and a simple, neutral, relatable face—maintain this look across every illustration, regardless of posture or emotion.\n\nImportant content safety instructions:\n\nAll visuals must be safe for work, cartoonish, wholesome, and family-friendly.\n\nNo nudity, suggestive poses, violence, adult content, or explicit themes—everything must be fully clothed and non-provocative.\n\nIf using objects or metaphors (like chains, masks, mirrors), always depict them in a clearly non-violent, non-suggestive, and motivational way. Avoid any context or visual that could trigger NSFW or safety filters.\n\nInstructions:\n\nMake the image prompt unique and emotionally resonant for Gen Z, reflecting the exact narration.\n\nUse emotionally rich metaphors and symbolic objects (e.g. glowing hearts, chains, ladders, mirrors, clouds, sneakers, etc.), always keeping content wholesome and positive.\n\nDo NOT paraphrase or reinterpret the narration segment—focus on converting the meaning and feeling into a symbolic visual scene.\n\nOutput only the TTM Prompt for this segment.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1100,
        -320
      ],
      "id": "dfd37b2d-c3f3-4cb7-afd2-1a64b715b564",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1188,
        -100
      ],
      "id": "3a81322d-e417-4cbf-a981-6763447b791d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zpk4zLtRgRK5YOpA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/FLUX.1-schnell"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "width",
              "value": "={{ 960 }}"
            },
            {
              "name": "height",
              "value": "={{ 544 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1476,
        -320
      ],
      "id": "79322b79-58dd-467a-bce0-befe477035e5",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TQyyoJmsyxTd5kgs",
          "name": "Together AI"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2136,
        -320
      ],
      "id": "88a6fa36-8276-4ae0-b482-04eda7b3dd3b",
      "name": "Wait",
      "webhookId": "74276acc-e402-42a8-9cd5-dffc3cb51c58"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{(() => {\n  const loopData = $('Loop Over Items2').item.json;\n\n  const rawTitle = loopData.Judul || loopData.ScriptSegment || \"no_title\";\n\n  const cleanTitle = rawTitle\n    .slice(0, 50)\n    .replace(/[^a-zA-Z0-9]+/g, \"_\")  // ganti non-alnum dengan _\n    .replace(/_+|_+$/g, \"\")          // hapus underscore berlebih\n    .trim();\n\n  // Bangun path final langsung ke file .jpg\n  let fullPath = `/data/shared/content/${cleanTitle}.jpg`;\n\n  // Filter karakter aneh (non-ASCII) dari nama file\n  fullPath = fullPath.replace(/[^\\x20-\\x7E]/g, \"\");\n\n  return fullPath;\n})()}}",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1916,
        -320
      ],
      "id": "c931f741-4da6-40af-a9b7-e778b036fa9c",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "url": "={{$json[\"body\"][\"data\"][0][\"url\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        -320
      ],
      "id": "4c471bb9-1c6e-45d3-b3f8-c51d16b0246d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8560e76c-fdfa-4cdc-8b7f-3b0e50b195c8",
              "name": "foldername",
              "value": "={{ (() => {\n  const judul = $json.Judul || \"untitled\";\n\n  return judul\n    .slice(0, 50)\n    .replace(/[<>:\"/\\\\|?*\\x00-\\x1F]/g, \"\")     // hapus karakter ilegal\n    .replace(/[^a-zA-Z0-9]+/g, \"_\")            // semua non-alfanumerik → 1 underscore\n    .replace(/^_+|_+$/g, \"\")                   // hapus underscore di awal/akhir\n    .trim();\n})() }}",
              "type": "string"
            },
            {
              "id": "84111f6a-f156-4d81-ade3-27626c9e0b8b",
              "name": "No",
              "value": "={{ $json.No }}",
              "type": "string"
            },
            {
              "id": "29746668-a14f-473b-9fbb-2f38cec032a3",
              "name": "Script",
              "value": "={{ $json.Script }}",
              "type": "string"
            },
            {
              "id": "1010c411-a29c-4ebd-b00d-26baa4fbeffd",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "65369d8b-572d-489a-8ecc-3be921edc95b",
              "name": "Judul",
              "value": "={{ $json.Judul }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -195
      ],
      "id": "bdfacc56-96a7-4389-b78b-d511933e1ead",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        -195
      ],
      "id": "c6396740-7830-4764-9356-2312d0969c51",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1d2Gmh2zMJDr7V-1msM_iJAcswNlglrJDxLiXJAW6tUY",
          "mode": "list",
          "cachedResultName": "AutoVideon8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d2Gmh2zMJDr7V-1msM_iJAcswNlglrJDxLiXJAW6tUY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1439856214,
          "mode": "list",
          "cachedResultName": "RAW",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d2Gmh2zMJDr7V-1msM_iJAcswNlglrJDxLiXJAW6tUY/edit#gid=1439856214"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Loop Over Items2').item.json.No }}",
            "Status": "Thumbnail Done"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Judul",
              "displayName": "Judul",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Thumbnail Text",
              "displayName": "Thumbnail Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2356,
        -195
      ],
      "id": "54549148-d2b9-436c-a3e7-3d79118e2068",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account Tropicans"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-02T03:07:20.166Z",
  "versionId": "d3af65de-a740-4bc5-9919-742834d7d10a"
}