workflows/zqUIzolIUPrrajPQ.json
{"createdAt":"2025-06-12T01:29:45.837Z","updatedAt":"2025-07-02T03:09:52.945Z","id":"zqUIzolIUPrrajPQ","name":"RoboNuggets___Veo3_in_n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[500,560],"id":"acfcd6e9-7c49-4972-90d9-d3b1f6654c86","name":"Schedule Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16xf34Rc-TWs7rUCSFAsIS_1zaodLQsjN5dTaWMGlZOE","mode":"list","cachedResultName":"n6 | Veo3 in n8n Tutorial [click \"File\" > \"Make a copy\"]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16xf34Rc-TWs7rUCSFAsIS_1zaodLQsjN5dTaWMGlZOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16xf34Rc-TWs7rUCSFAsIS_1zaodLQsjN5dTaWMGlZOE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"==ROW()-1","idea":"={{ $json.output[0].Idea }}","caption":"={{ $json.output[0].Caption }}","production":"={{ $json.output[0].Status }}","environment_prompt":"={{ $json.output[0].Environment }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idea","displayName":"idea","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caption","displayName":"caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"production","displayName":"production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"environment_prompt","displayName":"environment_prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"final_output","displayName":"final_output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[980,560],"id":"48d4e44c-fd60-4b1a-88b3-d30efc69d448","name":"Log the Idea"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1340,440],"id":"4bd71c3a-363e-45b4-8620-f551cd0db685","name":"Think"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={ \"prompt\": \"{{ $json.output }}\" }\n","options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,720],"id":"913ecc0f-5a57-4a00-88bb-1cc835879396","name":"Create Video"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,720],"id":"9943879d-bb9c-4c89-820b-c0dbb0051caf","name":"Get Video"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"16xf34Rc-TWs7rUCSFAsIS_1zaodLQsjN5dTaWMGlZOE","mode":"list","cachedResultName":"n6 | Veo3 in n8n Tutorial [click \"File\" > \"Make a copy\"]","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16xf34Rc-TWs7rUCSFAsIS_1zaodLQsjN5dTaWMGlZOE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FgwtfdRV3WqRo_nrGOYjmV2zqvb2MY_oAxCDi3HgeZA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"idea":"={{ $('Log the Idea').first().json.idea }}","production":"done","final_output":"={{ $json.video.url }}"},"matchingColumns":["idea"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idea","displayName":"idea","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"caption","displayName":"caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"production","displayName":"production","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"environment_prompt","displayName":"environment_prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"final_output","displayName":"final_output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[980,880],"id":"7e6d404a-b785-4abf-8702-075ef718d187","name":"Log Final Video"},{"parameters":{"promptType":"define","text":"Give me an idea about [a Yeti speaking to a camera and doing a Vlog through his selfie stick]. ","hasOutputParser":true,"options":{"systemMessage":"=You are an AI designed to generate 1 immersive, realistic idea based on a user-provided topic. Your output must be formatted as a JSON array (single line) and follow all the rules below exactly.\n\nRULES:\n\nOnly return 1 idea at a time.\n\nThe user will provide a key topic (e.g. “urban farming,” “arctic survival,” “street food in Vietnam”).\n\nThe Idea must:\n\nBe under 13 words.\n\nDescribe an interesting and viral-worthy moment, action, or event related to the provided topic.\n\nCan be as surreal as you can get, doesn't have to be real-world!\n\nInvolves a character.\n\nThe Caption must be:\n\nShort, punchy, and viral-friendly.\n\nInclude one relevant emoji.\n\nInclude exactly 12 hashtags in this order:\n** 4 topic-relevant hashtags\n** 4 all-time most popular hashtags\n** 4 currently trending hashtags (based on live research)\n\nAll hashtags must be lowercase.\n\nSet Status to \"for production\" (always).\n\nThe Environment must:\n\nBe under 20 words.\n\nMatch the action in the Idea exactly.\n\nClearly describe:\n\nWhere the event is happening (e.g. rooftop, jungle trail, city alley, frozen lake)\n\nKey visuals or background details (e.g. smoke rising, neon lights, fog, birds overhead)\n\nMain participants (e.g. farmer, cook, mechanic, rescue team, animal)\n\nStyle of scene (e.g. cinematic realism, handheld docu-style, aerial tracking shot, macro close-up)\n\nOk with fictional settings\n\nOUTPUT FORMAT (single-line JSON array):\n\n\n[\n  {\n    \"Caption\": \"Short viral title with emoji #4_topic_hashtags #4_all_time_popular_hashtags #4_trending_hashtags\",\n    \"Idea\": \"Short idea under 13 words\",\n    \"Environment\": \"Brief vivid setting under 20 words matching the action\",\n    \"Status\": \"for production\"\n  }\n]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[660,560],"id":"fcb7c6f4-2ecc-4cf1-9910-0e3a1d9a7a8d","name":"Ideas AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,440],"id":"4a89f985-634a-49dd-9a8b-bac4d4ce5d87","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"=Give me a Veo3 prompt for this idea:\n{{ $json.idea }}\n\nThis is the environment:\n{{ $json.environment_prompt }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=SYSTEM PROMPT FOR GOOGLE VEO3 PROMPT AGENT\n\nYou are an AI agent that writes hyper-realistic, cinematic video prompts for Google VEO3. Each prompt should describe a short, vivid selfie-style video clip featuring one unnamed character speaking or acting in a specific moment. The final video should look like found footage or documentary-style film — grounded, realistic, and immersive.\n\nREQUIRED STRUCTURE (FILL IN THE BRACKETS BELOW):\n\n[Scene paragraph prompt here]\n\nMain character: [description of character]\nThey say: [insert one line of dialogue, fits the scene and mood].\nThey [describe a physical action or subtle camera movement, e.g. pans the camera, shifts position, glances around].\nTime of Day: [day / night / dusk / etc.]\nLens: [describe lens]\nAudio: (implied) [ambient sounds, e.g. lion growls, wind, distant traffic, birdsong]\nBackground: [brief restatement of what is visible behind them]\n\nRULES FOR PROMPT GENERATION\n\nSingle paragraph only, 750–1500 characters. No line breaks or headings.\n\nOnly one human character. Never give them a name.\n\nInclude one spoken line of dialogue and describe how it’s delivered.\n\nCharacter must do something physical, even if subtle (e.g. glance, smirk, pan camera).\n\nUse selfie-style framing. Always describe the lens, stock, and camera behavior.\n\nScene must feel real and cinematic — like a short clip someone might record on a stylized camera.\n\nAlways include the five key technical elements: Time of Day, Lens, Film Stock, Audio, and Background.\n\nDO NOT DO THIS:\n\nDon’t name the character.\n\nDon’t include more than one character.\n\nDon’t describe subtitles or on-screen text.\n\nDon’t break the paragraph or use formatting.\n\nDon’t write vague or abstract scenes — always keep them grounded in physical detail."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1140,560],"id":"d656c084-d96b-4565-bfda-e82777050e07","name":"Prompts AI Agent"},{"parameters":{"content":"# 🍳 Veo 3 in n8n\n## How to Set Up for Your Own Space  \n**Author:** Jay E from [robonuggets.com](https://robonuggets.com)\n\nThis guide shows you how to set up this workflow for your own space. Hope you find this of value!\n\n---\n\n## 🔳 Step 1: Set Up OpenAI for Scripting  \n1. Go to [OpenAI API Platform](https://platform.openai.com/api-keys)  \n2. Create an account (if you don’t have one).  \n3. Generate an API key.  \n4. Create a credential using that key via the **OpenAI Chat Model** node.\n\n---\n\n## 🔳 Step 2: Set Up the Google Sheet Logger  \n1. Make a copy of the [Google Sheet template](https://docs.google.com/spreadsheets/d/1TsNBdnvAsW415bkgNrb6_jO1zOwUu6psj2GpVXaA-zc/edit?usp=sharing) provided.  \n2. Use it to log ideas and results generated in your workflow.  \n3. Connect the sheet in n8n using the **Google Sheets node** and create a credential if needed.\n\n---\n\n## 🔳 Step 3: Configure Fal AI \n1. Go to [Fal AI](https://fal.ai) and sign in.  \n2. Generate your API key.  \n3. In n8n, create a new HTTP credential with **Header Auth** using your Fal AI key.  \n4. Use this credential in the relevant HTTP Request nodes.\n\n---\n\n## 🔳 Step 4: Customize the System Prompts  \n1. Choose the niche or theme for your content\n2. Edit the user prompt in the \"Ideas AI Agent\"\n3. You can also edit the \"Prompts AI Agent\" to match what you need","height":1300,"width":420,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6489118b-100d-4265-be9f-0dc95ac6181b","name":"Sticky Note12"},{"parameters":{"amount":600},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[980,720],"id":"2879f2f3-3ef2-433a-b209-d871beb9cb81","name":"Wait for Veo3","webhookId":"a7bf329e-b1ca-4f59-b954-d57e551210f6"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Status\": \"for production\"\n  }\n]\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,440],"id":"566abd61-2e71-4a73-9e90-33c2b5ee7586","name":"Parser"}],"connections":{"Log the Idea":{"main":[[{"node":"Prompts AI Agent","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Ideas AI Agent","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Ideas AI Agent","type":"ai_tool","index":0},{"node":"Prompts AI Agent","type":"ai_tool","index":0}]]},"Create Video":{"main":[[{"node":"Wait for Veo3","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Log Final Video","type":"main","index":0}]]},"Ideas AI Agent":{"main":[[{"node":"Log the Idea","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ideas AI Agent","type":"ai_languageModel","index":0},{"node":"Prompts AI Agent","type":"ai_languageModel","index":0}]]},"Prompts AI Agent":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Wait for Veo3":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Parser":{"ai_outputParser":[[{"node":"Ideas AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fcff01b4-10a1-4eaa-bcf4-de4431a4c580","triggerCount":0,"tags":[]}