n8n/backup/workflows/kokoro.json
{
  "createdAt": "2025-06-02T07:43:48.295Z",
  "updatedAt": "2025-07-02T03:10:11.386Z",
  "id": "jr4ZhMzJjosV7mcl",
  "name": "kokoro",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        -100
      ],
      "id": "9ca7b94f-ca1c-4515-90f4-88155b43d7a4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f61b9e9-6a7e-4290-aeac-5f75e85a1691",
              "name": "text",
              "value": "Welcome to my city",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -100
      ],
      "id": "9cf7f533-6fad-4419-bd6d-2c7541cc66f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kokoro-tts:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kokoro\",\n  \"input\": \"{{ $json.text }}\",\n  \"voice\": \"af_heart\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n  \"stream\": false,\n  \"return_download_link\": true,\n  \"speed\": 1,\n  \"normalization_options\": {\n    \"normalize\": true,\n    \"url_normalization\": true,\n    \"email_normalization\": true,\n    \"optional_pluralization_normalization\": true,\n    \"phone_normalization\": true\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -100
      ],
      "id": "e645e3a6-68d5-4897-827d-925b77ff17f8",
      "name": "KokoroTTS"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "KokoroTTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "af213a50-c538-4e23-975c-d89fa7dd107a",
  "triggerCount": 0,
  "tags": []
}