n8n/backup/workflows/Solana Smart Wallet Tracker.json
{
  "createdAt": "2025-06-25T04:52:10.170Z",
  "updatedAt": "2025-07-02T03:08:07.343Z",
  "id": "uuS7oCENCdWfsASB",
  "name": "Solana Smart Wallet Tracker",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        140
      ],
      "id": "66e387e8-80e2-45e8-9a8e-e3e37d3df16e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1c_kjmjRAM_IkmfGfKreEo1_P13dOAe6W2pYsf3U8DW8",
          "mode": "list",
          "cachedResultName": "WalletList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c_kjmjRAM_IkmfGfKreEo1_P13dOAe6W2pYsf3U8DW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c_kjmjRAM_IkmfGfKreEo1_P13dOAe6W2pYsf3U8DW8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        140
      ],
      "id": "42468496-3f32-4148-a3c6-9256d4c13f7a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.helius.xyz/v0/addresses/{{ $json.WalletAddress }}/transactions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "72461c8d-a5d9-4b6d-baad-a1b038fe173e"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "direction",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        140
      ],
      "id": "744d51b4-b4f5-47aa-999e-7fcb4299ac59",
      "name": "Fetch Last Tx",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2997f67-bc75-4fe8-9d5d-7de05c5b8176",
              "name": "prompt",
              "value": "=Wallet {{ $node[\"Loop Over Items\"].json.WalletAddress }} just swapped {{ $json.amount / (10 ** $json.tokenDecimals) }} \n{{ $json.tokenSymbol }} ({{ $json.tokenName }}) \nat {{ new Date($('Extract Tx Data').item.json.blockTime * 1000).toISOString() }}.  \nToken details: price {{ $json.pricePerToken }} USD, logo {{ $json.logoURI }}.  \nShould I BUY, HOLD, or SELL?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        140
      ],
      "id": "2cda103e-0074-45d4-86cc-353c888fabad",
      "name": "Build AI Prompt"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "You’re a crypto advisor…"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{$json[\"prompt\"]}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1760,
        140
      ],
      "id": "904f2114-b07c-47a2-9356-57e5ab0f6ff1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1848,
        360
      ],
      "id": "06d05b2b-8bdc-4b87-acbf-2365aca4351a",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "er9UBfBKoRVqOkGC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "114e0472-10f1-4e7a-9f1d-b137c43a4210",
              "name": "Timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "0f5435dc-f02d-46c5-a072-ba863ac8780b",
              "name": "Wallet",
              "value": "={{$json.wallet}}",
              "type": "string"
            },
            {
              "id": "fc53dd9c-4f86-4383-9258-04a28dd916f0",
              "name": "TokenMint",
              "value": "={{$json.mint}}",
              "type": "string"
            },
            {
              "id": "191e008b-cd9a-4417-a3b0-a9af2d091e95",
              "name": "TokenName",
              "value": "={{$json.data.name}}",
              "type": "string"
            },
            {
              "id": "a4e1328e-26d1-461b-b02a-d40d8641d491",
              "name": "Symbol",
              "value": "={{$json.data.symbol}}",
              "type": "string"
            },
            {
              "id": "00a8defc-02e9-4d26-82d2-6dfcdfa6c689",
              "name": "Volume24h",
              "value": "={{$json.data.volume24hQuote}}",
              "type": "string"
            },
            {
              "id": "1116f731-458b-466a-b13b-55e11f200b2d",
              "name": "MarketCap",
              "value": "={{$json.data.marketCap}}",
              "type": "string"
            },
            {
              "id": "1ac51eb5-a4df-4546-b263-eb19d90eb443",
              "name": "Link",
              "value": "=https://solscan.io/token/{{$json.mint}}",
              "type": "string"
            },
            {
              "id": "f22bb676-b822-43d1-a017-1813c530933d",
              "name": "AIRecommendation",
              "value": "={{$json.AIRecommendation}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2136,
        140
      ],
      "id": "7ec616da-de2f-4498-899a-7b7d0a71a1e1",
      "name": "Format Final Row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BT6gS446vH1KYdEsmiYQ7Ohos9xxl5urSymIs3gTr3A",
          "mode": "list",
          "cachedResultName": "TokenTrack",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BT6gS446vH1KYdEsmiYQ7Ohos9xxl5urSymIs3gTr3A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BT6gS446vH1KYdEsmiYQ7Ohos9xxl5urSymIs3gTr3A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wallet",
              "displayName": "Wallet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TokenMint",
              "displayName": "TokenMint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TokenName",
              "displayName": "TokenName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Symbol",
              "displayName": "Symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Volume24h",
              "displayName": "Volume24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MarketCap",
              "displayName": "MarketCap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2356,
        140
      ],
      "id": "4ef33043-47dc-49fc-bc94-876aa63b07df",
      "name": "Write to TokenTrack",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EvJFGzn1Pb9TRY0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        140
      ],
      "id": "82eff6dc-92f4-4c7c-950b-a06e0ea1601d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.helius.xyz/v0/token-metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 72461c8d-a5d9-4b6d-baad-a1b038fe173e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mintAccounts\": [\"{{$node[\"Extract Tx Data\"].json.mint}}\"],\n  \"options\": {\n    \"showFungible\": true,\n    \"requireFullIndex\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        140
      ],
      "id": "d0343fd5-7197-48ea-8d5f-3d019922bc97",
      "name": "Get Token Metadata (Helius)",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb161788-ef7b-4e41-9375-3a90279a3a43",
              "name": "tokenName",
              "value": "={{ $node[\"Get Token Metadata (Helius)\"].json.result.content.metadata.name }}",
              "type": "string"
            },
            {
              "id": "4c94aee4-7974-4463-8cb9-6a34d9d76b2e",
              "name": "tokenSymbol",
              "value": "={{ $node[\"Get Token Metadata (Helius)\"].json.result.content.metadata.symbol }}",
              "type": "string"
            },
            {
              "id": "61f12ff0-ab4c-491b-ab2f-47b7da41807c",
              "name": "tokenDecimals",
              "value": "={{ $node[\"Get Token Metadata (Helius)\"].json.result.token_info.decimals }}",
              "type": "string"
            },
            {
              "id": "d7094c9c-a929-4d62-abf5-2c87763a9c35",
              "name": "pricePerToken",
              "value": "={{ $node[\"Get Token Metadata (Helius)\"].json.result.token_info.price_info.price_per_token }}",
              "type": "string"
            },
            {
              "id": "b27340d3-8abb-4556-b306-3307793ee756",
              "name": "logoURI",
              "value": "={{ $node[\"Get Token Metadata (Helius)\"].json.result.content.files[0].uri }}",
              "type": "string"
            },
            {
              "id": "212f51e2-ed14-474a-a4f3-50ae6c4a8064",
              "name": "amount",
              "value": "={{ $node[\"Extract Tx Data\"].json.amount }}",
              "type": "string"
            },
            {
              "id": "dfb48cd7-9d97-471b-a59c-1f14de90af9a",
              "name": "tokenDecimals",
              "value": "={{ $node[\"Extract Tx Data\"].json.decimals }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        140
      ],
      "id": "9151ab37-6521-48be-8366-16c4b1029eb1",
      "name": "Set Token Data"
    },
    {
      "parameters": {
        "jsCode": "// 1) Kumpulkan semua tx JSON dari items\nconst txs = items.map(i => i.json);\n\n// 2) Cari tx pertama yang punya tokenTransfers *atau* nativeTransfers\nconst swapTx = txs.find(tx =>\n  Array.isArray(tx.tokenTransfers)  && tx.tokenTransfers.length > 0\n  || Array.isArray(tx.nativeTransfers) && tx.nativeTransfers.length > 0\n);\nif (!swapTx) {\n  // gak ada transfer sama sekali, skip\n  return [];\n}\n\n// 3) Ambil SPL transfer dulu kalau ada, kalau tidak ambil SOL\nlet t;\nlet isNative = false;\nif (swapTx.tokenTransfers && swapTx.tokenTransfers.length) {\n  t = swapTx.tokenTransfers[0];\n} else {\n  t = swapTx.nativeTransfers[0];\n  isNative = true;\n}\n\n// 4) Emit satu item dengan semua field yang downstream butuh\nreturn [{\n  json: {\n    signature: swapTx.signature,\n    // kalau SOL, pakai mint standar SOL:\n    mint:      isNative ? 'So11111111111111111111111111111111111111112' : t.mint,\n    amount:    t.amount,\n    // SOL punya 9 decimals, SPL pakai decimals dari transfer\n    decimals:  isNative ? 9 : t.decimals,\n    blockTime: swapTx.blockTime || swapTx.timestamp,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        140
      ],
      "id": "fa767e3d-cefb-4e18-8f75-e4ec1d3b3d0b",
      "name": "Extract Tx Data"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last Tx": {
      "main": [
        [
          {
            "node": "Extract Tx Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Final Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Row": {
      "main": [
        [
          {
            "node": "Write to TokenTrack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch Last Tx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token Metadata (Helius)": {
      "main": [
        [
          {
            "node": "Set Token Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Token Data": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tx Data": {
      "main": [
        [
          {
            "node": "Get Token Metadata (Helius)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6bff52a6-b033-4774-8065-52722c6b7643",
  "triggerCount": 0,
  "tags": []
}